<div>

    <h2>OrgJoinRequests</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveOrgJoinRequestModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new OrgJoinRequest
    </button>
    <div class="modal fade" id="saveOrgJoinRequestModal" tabindex="-1" role="dialog" aria-labelledby="myOrgJoinRequestLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myOrgJoinRequestLabel">Create or edit a OrgJoinRequest</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="orgjoinrequest.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>orgId</label>
                            <input type="number" class="form-control"
                                   ng-model="orgjoinrequest.orgId">
                        </div>
                        <div class="form-group">
                            <label>userLogin</label>
                            <input type="text" class="form-control"
                                   ng-model="orgjoinrequest.userLogin">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>orgId</th>
                    <th>userLogin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orgjoinrequest in orgjoinrequests">
                    <td>{{orgjoinrequest.id}}</td>
                    <td>{{orgjoinrequest.orgId}}</td>
                    <td>{{orgjoinrequest.userLogin}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(orgjoinrequest.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(orgjoinrequest.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
