<div class="project">
    
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-show="searchError" translate="project.error.searcherror">
                <strong>Server could not be reached, something went wrong</strong>
            </div>
        </div>
        <div class="col-md-12">
            <div class="alert alert-warning" ng-show="noProjects" translate="project.search.empty">
                <strong>There are no projects matching your criteria</strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <resp-project project="project" on-project-click="selectProject(project)"
                          ng-repeat="project in projects"></resp-project>
        </div>
    </div>


    <div class="row">
        <ul class="requirements">
            <li class="requirements row" ng-repeat="requirement in resourceRequirements">
                <button type="button" ng-click="selectRequirement(requirement)" > requirement.name </button>
            </li>

        <ul>
    </div>

</div>
