<div>

    <h2>Logos</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveLogoModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Logo
    </button>
    <div class="modal fade" id="saveLogoModal" tabindex="-1" role="dialog" aria-labelledby="myLogoLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myLogoLabel">Create or edit a Logo</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="logo.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>orgName</label>
                            <input type="text" class="form-control"
                                   ng-model="logo.orgName">
                        </div>
                        <div class="form-group">
                            <label>label</label>
                            <input type="text" class="form-control"
                                   ng-model="logo.label">
                        </div>
                        <div class="form-group">
                            <label>data</label>
                            <input type="text" class="form-control"
                                   ng-model="logo.data">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>orgName</th>
                    <th>label</th>
                    <th>data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="logo in logos">
                    <td>{{logo.id}}</td>
                    <td>{{logo.orgName}}</td>
                    <td>{{logo.label}}</td>
                    <td>{{logo.data}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(logo.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(logo.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
