<div ng-cloak>
    <div class="row">
        <div class="col-md-8">
            <h1 translate="main.title">Welcome to respondeco!</h1>

            <div ng-switch="authenticated">
                <div ng-switch-when="true">
                    <div class="alert alert-success" translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                        You are logged in as user "Admin".
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
