<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Respondeco</h1>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a ng-click="redirectToProjectSearch()" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name" translate="main.find">Find projects</span></a>
                        </li>
                        <li>
                            <a ng-click="redirectToNewProject()" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name" translate="main.collect">Collect resources</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
