<!--=== Profile ===-->
<!-- <page-title>{{organization.name}}</page-title> -->
<link rel="stylesheet" type="text/css" href="styles/organization.css">
<div class="container content profile">
    <div class="row">
        <div class="col-xs-12 profile-container">
            <div ng-include="'/template/organization/about_us.html'"></div>
            <div ng-include="'/template/organization/projects.html'"></div>
            <div ng-include="'/template/organization/news.html'"></div>
            <div ng-include="'/template/organization/contact.html'"></div>
        </div>
    </div>
</div>
<!--=== End Profile ===-->
