<div class="organization">

    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#saveOrganizationModal" ng-click="redirectToNew()" ng-show="authenticated">
        <span class="glyphicon glyphicon-flash"></span>
        <span translate="organization.new">Create a new Organization</span>
    </button>

    <h2 translate='global.menu.organization'>Organizations</h2>

    <div class="table-responsive">
        <ul>
            <li class="organization-item" ng-repeat="organization in organizations">
                <a ng-click="redirectToOrganization(organization.name)">
                    <img src="{{organization.logo | logo}}" alt="logo {{organization.name}}">
                </a>
                <h2><a ng-click="redirectToOrganization(organization.name)">{{organization.name}}</a>
                </h2>
            </li>
        </ul>
    </div>
</div>
