<div>

    <h2 translate="global.projects.title">Projects</h2>

    <div class="row">
        <div class="col-md-4">
            <input type="text" ng-model="searchText"/>
            <button value="Suchen" class="btn btn-default" ng-click="">
                <span class="glyphicon glyphicon-search"></span>
                <span translate="global.projects.search">Search Projects</span>
            </button>
        </div>
        <div class="col-md-4 dropdown">
            <button class="btn btn-default dropdown-toggle" translate="global.projects.categories.title"type="button" id="menu1" data-toggle="dropdown">Categories
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" translate="global.projects.categories.cat1">Categorie1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" translate="global.projects.categories.cat2">Categorie2</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success pull-right" ng-click="createProject()">
                <span class="glyphicon glyphicon-plus"></span>
                <span translate="global.projects.createProject.title">Create a new Project</span>
            </button>
        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.projects.id">ID</th>
                    <th translate="global.projects.name">name</th>
                    <th translate="global.projects.purpose">purpose</th>
                    <th translate="global.projects.concrete">concrete</th>
                    <th translate="global.projects.startDate">startDate</th>
                    <th translate="global.projects.endDate">endDate</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in projects | filter: searchText" ng-click="viewProjectDetails(p)">
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.purpose}}</td>
                    <td>{{p.concrete}}</td>
                    <td>{{p.startDate}}</td>
                    <td>{{p.endDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
