<div>

    <h2>ProjectIdeas</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveProjectIdeaModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new ProjectIdea
    </button>
    <div class="modal fade" id="saveProjectIdeaModal" tabindex="-1" role="dialog" aria-labelledby="myProjectIdeaLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myProjectIdeaLabel">Create or edit a ProjectIdea</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="projectidea.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>organizationId</label>
                            <input type="number" class="form-control"
                                   ng-model="projectidea.organizationId">
                        </div>
                        <div class="form-group">
                            <label>name</label>
                            <input type="text" class="form-control"
                                   ng-model="projectidea.name">
                        </div>
                        <div class="form-group">
                            <label>purpose</label>
                            <input type="text" class="form-control"
                                   ng-model="projectidea.purpose">
                        </div>
                        <div class="form-group">
                            <label>projectLogo</label>
                            <input type="text" class="form-control"
                                   ng-model="projectidea.projectLogo">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>organizationId</th>
                    <th>name</th>
                    <th>purpose</th>
                    <th>projectLogo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectidea in projectideas">
                    <td>{{projectidea.id}}</td>
                    <td>{{projectidea.organizationId}}</td>
                    <td>{{projectidea.name}}</td>
                    <td>{{projectidea.purpose}}</td>
                    <td>{{projectidea.projectLogo}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(projectidea.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(projectidea.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
