<div class="project">
    <div class="row">
        <div class="col-sm-6">
            <form name="searchform" role="form" novalidate
                  class="ng-scope" ng-submit="search()">

                <div class="form-group col-xs-6">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="{{'global.projects.name.placeholder' | translate}}"
                           ng-model="project.name" typeahead="p.name for p in getProjectNames($viewValue)"/>
                </div>
                <div class="form-group col-xs-6">
                    <label>Tags</label>
                    <input type="text" class="form-control" placeholder="{{'global.projects.tags.placeholder' | translate}}"
                           ng-model="project.tags" typeahead="t.name for t in getPropertyTagNames($viewValue)"/>
                </div>
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-primary">Suchen</button>
                </div>
            </form>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <div class="project-item" ng-repeat="project in projects">
                <resp-project project="project" on-project-click="redirectToProject(project)"></resp-project>
            </div>
        </div>
    </div>
</div>