<div>
    <form name="form" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="create()">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="modal-header clearfix">
            <div class="col-md-3">
                <h4 translate="project.createProject.title">Creating a project</h4>
            </div>
            <div class="col-md-9">
                <div class="col-md-4 col-md-offset-1">
                    <div class="input-group" ng-show="project.concrete == true">
                        <input class="form-control" placeholder="{{'project.createProject.startDate.placeholder' | translate}}" ng-model="project.startDate" name="startDate" datepicker-popup="{{'general.dateFormat' | translate}}" datepicker-options="dateOptions" is-open="openedStartDate" close-text="close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group" ng-show="project.concrete == true">
                        <input class="form-control" placeholder="{{'project.createProject.endDate.placeholder' | translate}}" ng-model="project.endDate" datepicker-popup="{{'general.dateFormat' | translate}}" datepicker-options="dateOptions" is-open="openedEndDate" close-text="close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn {{ project.concrete ? 'btn-success' : 'btn-primary'}} pull-right" ng-model="project.concrete" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                        <span class="glyphicon {{ project.concrete ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></span> {{'project.concrete' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h3 trasnlate="project.info">Project Information</h3>
                    <div class="form-group">
                        <label translate="project.name">Name of Project</label>
                        <input type="text" class="form-control" placeholder="{{'project.createProject.name.placeholder' | translate}}" ng-model="project.name" required>
                    </div>
                    <div class="form-group">
                        <label translate="project.purpose">Purpose of project</label>
                        <textarea class="form-control" placeholder="{{'project.createProject.purpose.placeholder' | translate}}" rows="3" ng-model="project.purpose" REQUIRED></textarea>
                    </div>
                    <div class="form-group">
                        <label translate="project.tags">Tags</label>
                        <tags-input ng-model="project.propertyTags" add-on-space="true" display-property="name" min-length="1"
                                placeholder="{{'project.tags.placeholder' | translate}}">
                            <auto-complete source="getPropertyTagNames($query)" min-length="1"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label translate="project.logo">ProjectLogo</label>
                        <file-upload complete="onUploadComplete" value="project.logo.id" />
                    </div>
                    <div class="form-group">
                        <label translate="project.resource">Resource</label>
                        <button id="addResourceButton" type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addResource" ng-click="clearRequirement()">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span translate="project.createProject.resource">Add a new Ressource</span>
                        </button>
                        <div class="row table-responsive">
                            <table class="table table">
                                <thead>
                                    <th translate="resource.requirement.tableheader">ResourceName</th>
                                    <tr>
                                        <td translate="resource.requirement.name">name</td>
                                        <td translate="resource.requirement.amount">amount</td>
                                        <td translate="resource.requirement.isEssential">is essential</td>
                                        </td>
                                </thead>
                                <tbody>
                                    <tr data-toggle="modal" ng-repeat="r in project.resourceRequirements">
                                        <td>{{r.name}}</td>
                                        <td>{{r.amount}}</td>
                                        <td ng-show="r.isEssential"><span class="glyphicon glyphicon-ok" />
                                        </td>
                                        <td ng-hide="r.isEssential"><span class="glyphicon glyphicon-remove" />
                                        </td>
                                        <td><a id="desd" ng-click="editRequirement($index)">edit</a>
                                        </td>
                                        <td><a id="test" ng-click="removeRequirement($index)"><span class="glyphicon glyphicon-remove-circle"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="cancelButton" type="button" class="btn btn-link" data-dismiss="modal" translate="global.form.cancel" ng-click="clear()" />
            <button id="saveButton" type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span> {{'global.form.save' | translate}}
            </button>
        </div>
    </form>

    <div class="modal fade" id="addResource" tabindex="-1" role="dialog" aria-labelledby="newResourceLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="newresourceform" role="form" novalidate show-validation class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clearRequirement()">&times;</button>
                        <h4 class="modal-title" id="newResourceLabel" translate="resource.requirement.title">Add Resource-Requirement</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label translate="resource.new.name">name</label>
                            <input type="text" class="form-control" placeholder="{{'resource.placeholder.name' | translate}}" ng-model="resource.name" required>
                        </div>
                        <div class="form-group">
                            <label translate="resource.new.description">description</label>
                            <textarea type="text" class="form-control" placeholder="{{'resource.placeholder.description' | translate}}" ng-model="resource.description" required/>
                        </div>

                        <div class="form-group">
                            <label translate="resource.new.amount">amount</label>
                            <input type="number" class="form-control" placeholder="{{'resource.placeholder.amount' | translate}}" ng-model="resource.amount" required>
                        </div>

                        <div class="form-group">
                            <label translate="resource.new.tags">tags</label>
                            <tags-input ng-model="selectedResourceTags" add-on-space="true" display-property="name" min-length="1" placeholder="{{'resource.placeholder.tags' | translate}}">
                            </tags-input>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn {{ resource.isEssential ? 'btn-success' : 'btn-primary'}}" ng-model="resource.isEssential" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                                <span class="glyphicon {{ resource.isEssential ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></span> {{'resource.requirement.isEssential' | translate}}
                            </button>
                        </div>
                </form>

                </div>
                <div class="modal-footer">
                    <button id="resourceCancelButton" type="button" class="btn btn-link" data-dismiss="modal">
                        {{ 'resource.new.cancelbutton' | translate }}
                    </button>
                    <button id="resourceSaveButton" type="button" ng-click="createRequirement()" data-dismiss="modal" class="btn btn-success" ng-disabled="newresourceform.$invalid">
                        <span class="glyphicon glyphicon-save"></span> {{ 'resource.new.savebutton' | translate }}
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
