<div>
    <div class="row">
        <div class="text-right col-md-10">
            <button class="btn btn-primary" ng-click='edit()' translate='general.edit'>Edit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>{{ viewedProject.name}}</h2>
        </div>
        <div class="col-md-5">
            <h2></h2>
            <dl class="dl-horizontal">
                <dt>
                    <span translate='project.purpose'>Project purpose</span>:</dt>
                <dd>{{ viewedProject.purpose }}</dd>
                <dt>
                    <span translate='project.concrete'>Concrete Project</span>:</dt>
                <dd>{{ viewedProject.concrete }}</dd>
                <dt>
                    <span translate='project.startDate'>StartDate Project</span>:</dt>
                <dd>{{ viewedProject.startDate }}</dd>
                <dt>
                    <span translate='project.endDate'>EndDate Project</span>:</dt>
                <dd>{{ viewedProject.endDate }}</dd>
                <dt>
                    <span translate='project.tag'>PorpertyTags Project</span>:</dt>
                <dd>{{ viewedProject.propertyTags }}</dd>
                <dt>
                    <span translate='project.resource'>Resources Project</span>:</dt>
                <dd>{{ viewedProject.resourceRequirements }}</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-danger pull-right" ng-click="delete(viewedProject.id)">
            <span class="glyphicon glyphicon-minus"></span>
            <span translate="project.details.delete">Delete this Project</span>
        </button>
    </div>
</div>