<div class="clearfix resource-search-container">
    <h1>
        {{ 'resource.title' | translate }}
    </h1>

    <form name="searchForm" class="row" role="form" novalidate ng-submit="search()">
        <div class="form-group col-md-3">
            <label translate="resource.name">name</label>
            <input type="text" class="form-control" placeholder=" {{'resource.placeholder.search' | translate}}" ng-model="resourceSearch.name" />
        </div>
        <div class="form-group col-md-3">
            <label translate="resource.tags">tags</label>
            <tags-input ng-model="searchTags" add-on-space="true" display-property="name" min-length="1" placeholder=" {{'resource.placeholder.search' | translate}}">
            </tags-input>
        </div>
        <div class="form-group col-md-3">
            <label translate="resource.organization">company</label>
            <input class="form-control" type="text" placeholder=" {{'resource.placeholder.search' | translate}}" ng-model="resourceSearch.organization">
            </input>
        </div>
        <div class="form-group col-md-3">
            <label translate="resource.search.type" tooltip="{{ 'resource.search.tooltip.type' | translate }}">Type of resource</label>
            <div class="btn-group">
                <label class="btn btn-success" uncheckable ng-model="resourceSearch.isCommercial" btn-radio="true">Kommerziell</label>
                <label class="btn btn-success" uncheckable ng-model="resourceSearch.isCommercial" btn-radio="false">Nicht Kommerziell</label>
            </div>
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-default " ng-click="search()">
                {{'resource.searchbutton' | translate}}
            </button>
        </div>
    </form>

    <div class="row col-md-12">
        <ul class="resources">
            <li class="resource row" ng-repeat="resource in resources">
                <div class="col-md-1">
                    <img src="" alt="">
                </div>
                <div class="pull-right col-md-7">
                    <div class="col-md-8 on-hover">
                        {{ resource.description }}
                    </div>
                    <div class="col-md-4 on-hover">
                        <button class="btn btn-primary" translate="resource.search.request">
                            Request resource
                        </button>
                    </div>
                </div>
                <h2 class="col-md-4">
                    {{ resource.name }}
                    <span ng-hide="resource.amount == 1">({{ resource.amount }})</span>
                    <sup class="on-hover">
                        <small>
                            {{ resource.startDate }} - {{ resource.endDate }}
                        </small>
                    </sup>
                    <div class="organization">
                        <span class="organization-name">{{ organization.name }}</span>
                        <rating class="on-hover" ng-model="resource.rating" max="5" readonly="true"></rating>
                    </div>
                </h2>
            </li>
        </ul>
    </div>
</div>
