<div>

    <h2>ResourceTags</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveResourceTagModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new ResourceTag
    </button>
    <div class="modal fade" id="saveResourceTagModal" tabindex="-1" role="dialog" aria-labelledby="myResourceTagLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myResourceTagLabel">Create or edit a ResourceTag</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="resourceTag.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="resourceTag.name">
                        </div>
                        <div class="form-group">
                            <label>CreatedBy</label>
                            <input type="text" class="form-control"
                                   ng-model="resourceTag.createdBy">
                        </div>
                        <div class="form-group">
                            <label>CreatedDate</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="resourceTag.createdDate">
                        </div>
                        <div class="form-group">
                            <label>LastModifiedBy</label>
                            <input type="text" class="form-control"
                                   ng-model="resourceTag.lastModifiedBy">
                        </div>
                        <div class="form-group">
                            <label>LastModifiedDate</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="resourceTag.lastModifiedDate">
                        </div>
                        <div class="form-group">
                            <label>IsActive</label>
                            <input type="checkbox" class="form-control"
                                   ng-model="resourceTag.isActive">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CreatedBy</th>
                    <th>CreatedDate</th>
                    <th>LastModifiedBy</th>
                    <th>LastModifiedDate</th>
                    <th>IsActive</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resourceTag in resourceTags">
                    <td>{{resourceTag.id}}</td>
                    <td>{{resourceTag.name}}</td>
                    <td>{{resourceTag.createdBy}}</td>
                    <td>{{resourceTag.createdDate}}</td>
                    <td>{{resourceTag.lastModifiedBy}}</td>
                    <td>{{resourceTag.lastModifiedDate}}</td>
                    <td>{{resourceTag.isActive}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(resourceTag.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(resourceTag.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
