<div>

    <h2>ResourceRequirements</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveResourceRequirementModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new ResourceRequirement
    </button>
    <div class="modal fade" id="saveResourceRequirementModal" tabindex="-1" role="dialog" aria-labelledby="myResourceRequirementLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myResourceRequirementLabel">Create or edit a ResourceRequirement</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="resourceRequirement.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control"
                                   ng-model="resourceRequirement.amount">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control"
                                   ng-model="resourceRequirement.description">
                        </div>
                        <div class="form-group">
                            <label>ProjectId</label>
                            <input type="number" class="form-control"
                                   ng-model="resourceRequirement.projectId">
                        </div>
                        <div class="form-group">
                            <label>IsEssential</label>
                            <input type="checkbox" class="form-control"
                                   ng-model="resourceRequirement.isEssential">
                        </div>
                        <div class="form-group">
                            <label>CreatedBy</label>
                            <input type="number" class="form-control"
                                   ng-model="resourceRequirement.createdBy">
                        </div>
                        <div class="form-group">
                            <label>CreatedDate</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="resourceRequirement.createdDate">
                        </div>
                        <div class="form-group">
                            <label>LastModifiedBy</label>
                            <input type="number" class="form-control"
                                   ng-model="resourceRequirement.lastModifiedBy">
                        </div>
                        <div class="form-group">
                            <label>LastModifiedDate</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="resourceRequirement.lastModifiedDate">
                        </div>
                        <div class="form-group">
                            <label>IsActive</label>
                            <input type="checkbox" class="form-control"
                                   ng-model="resourceRequirement.isActive">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>ProjectId</th>
                    <th>IsEssential</th>
                    <th>CreatedBy</th>
                    <th>CreatedDate</th>
                    <th>LastModifiedBy</th>
                    <th>LastModifiedDate</th>
                    <th>IsActive</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resourceRequirement in resourceRequirements">
                    <td>{{resourceRequirement.id}}</td>
                    <td>{{resourceRequirement.amount}}</td>
                    <td>{{resourceRequirement.description}}</td>
                    <td>{{resourceRequirement.projectId}}</td>
                    <td>{{resourceRequirement.isEssential}}</td>
                    <td>{{resourceRequirement.createdBy}}</td>
                    <td>{{resourceRequirement.createdDate}}</td>
                    <td>{{resourceRequirement.lastModifiedBy}}</td>
                    <td>{{resourceRequirement.lastModifiedDate}}</td>
                    <td>{{resourceRequirement.isActive}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(resourceRequirement.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(resourceRequirement.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
