<div>

    <h2 translate="resource.new.title" ng-show = isNew> Create new Resource </h2>
    <h2 translate="resource.edit.title" ng-show = !isNew> Edit Resource </h2>
    <br>
    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
          ng-submit="create()">
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label translate="resource.new.name">name</label>
                        <input type="text" class="form-control" placeholder="{{'resource.placeholder.name' | translate}}" ng-model="resource.name" required>
                    </div>
                    <div class="form-group">
                        <label translate="resource.new.description">description</label>
                        <textarea type="text" class="form-control" placeholder="{{'resource.placeholder.description' | translate}}" ng-model="resource.description" required/>
                    </div>
                    
                    <div class="form-group">
                        <label translate="resource.new.amount">amount</label>
                        <input type="number" class="form-control" placeholder="{{'resource.placeholder.amount' | translate}}" ng-model="resource.amount" required>
                    </div>
                    
                    <div class="form-group">
                        <label translate="resource.new.tags">tags</label>
                        <tags-input ng-model="selectedTags" add-on-space="true" display-property="name" min-length="1"
                                    placeholder="{{'resource.placeholder.tags' | translate}}">
                            </tags-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <file-upload complete="onUploadComplete" value="logoId" class="organization-logo"></file-upload>
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn {{ resource.isRecurrent ? 'btn-success' : 'btn-primary'}}" 
                        ng-model="resource.isRecurrent" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                <span class="glyphicon {{ resource.isRecurrent ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></span> 
                {{'resource.new.recurrent' | translate}}
                </button>
            </div>

            <div class="form-group">
                <button type="button" class="btn {{ resource.isCommercial ? 'btn-success' : 'btn-primary'}}" 
                        ng-model="resource.isCommercial" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                    <span class="glyphicon {{ resource.isCommercial ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></span> 
                    {{'resource.new.commercial' | translate}}
                </button>
            </div>

            <div class="form-group">
                <label ng-show="resource.isCommercial" translate="resource.new.price">price</label>
                <input type="text" class="form-control" placeholder="{{'resource.placeholder.price' | translate }}" ng-show="resource.isCommercial">
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="col-md-4">
                        <label translate="resource.new.startDate">available from</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="{{'resource.placeholder.startDate' | translate}}" ng-model="resource.startDate" name="startDate" datepicker-popup="{{'general.dateFormat' | translate}}" datepicker-options="dateOptions" is-open="openedStartDate" close-text="close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label translate="resource.new.endDate">available until</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="{{'resource.placeholder.endDate' | translate}}" ng-model="resource.endDate" datepicker-popup="{{'general.dateFormat' | translate}}" datepicker-options="dateOptions" is-open="openedEndDate" close-text="close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="alert alert-danger" ng-show="formSaveError" translate="resource.new.error">
                <strong>resource could not be created</strong>
            </div>

        <div class="modal-footer">
            <button id="cancelButton" type="button" class="btn btn-link" ng-click="redirectToOwnResource()">
                {{ 'resource.new.cancelbutton' | translate }}
            </button>
            <button id="saveButton" type="submit" ng-disabled="form.$invalid" class="btn btn-success">
                <span class="glyphicon glyphicon-save"></span> {{ 'resource.new.savebutton' | translate }}
            </button>
        </div>
    </form>
</div>

