<div>
 
    <h1>{{ 'global.resource.title' | translate }}</h1>

    <div class="row">
        <div class=" col-md-5">
            <div class="input-group">
            <input type="text" class="form-control" placeholder=" {{'global.resource.placeholder.search' | translate}}"
                    ng-model="filter">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default " ng-click="search()">
                    {{'global.resource.searchbutton' | translate}}
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-7"> 
            <button class="btn btn-success btn-mid pull-right"
                    ng-click="redirectToResource('new')">
                <span class="glyphicon glyphicon-tree-conifer"></span> {{ 'global.resource.newbutton' | translate }}
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td translate="global.resource.name">name</td>
                    <td translate="global.resource.company">company</td>
                    <td translate="global.resource.amount">amount</td>
                    <td translate="global.resource.datefrom">available from</td>
                    <td translate="global.resource.dateto">available until</td>
                    <td translate="global.resource.commercial">commercial</td>
                    <td translate="global.resource.recurrent">recurrent</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resource in resources">
                    <td>{{ resource.name }}</td>
                    <td>{{ resource.company }}</td>
                    <td>{{ resource.amount }}</td>
                    <td>{{ resource.dateStart | date }}</td>
                    <td>{{ resource.dateEnd | date }}</td>
                    <td ng-show="resource.isCommercial"><span class="glyphicon glyphicon-ok"/></td>
                    <td ng-hide="resource.isCommercial"><span class="glyphicon glyphicon-remove"/></td>
                    <td ng-show="resource.isRecurrent"><span class="glyphicon glyphicon-ok"/></td>
                    <td ng-hide="resource.isRecurrent"><span class="glyphicon glyphicon-remove"/></td>
                    <td> 
                        <button type="button" class="btn btn-default" ng-click="">
                            Resource anfordern
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>