<div>

    <h2>ResourceOfferJoinResourceRequirements</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveResourceOfferJoinResourceRequirementModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new ResourceOfferJoinResourceRequirement
    </button>
    <div class="modal fade" id="saveResourceOfferJoinResourceRequirementModal" tabindex="-1" role="dialog" aria-labelledby="myResourceOfferJoinResourceRequirementLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myResourceOfferJoinResourceRequirementLabel">Create or edit a ResourceOfferJoinResourceRequirement</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="resourceOfferJoinResourceRequirement.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>ResourceOfferId</label>
                            <input type="number" class="form-control"
                                   ng-model="resourceOfferJoinResourceRequirement.resourceOfferId">
                        </div>
                        <div class="form-group">
                            <label>ResourceRequirementId</label>
                            <input type="number" class="form-control"
                                   ng-model="resourceOfferJoinResourceRequirement.resourceRequirementId">
                        </div>
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control"
                                   ng-model="resourceOfferJoinResourceRequirement.amount">
                        </div>
                        <div class="form-group">
                            <label>CreatedBy</label>
                            <input type="text" class="form-control"
                                   ng-model="resourceOfferJoinResourceRequirement.createdBy">
                        </div>
                        <div class="form-group">
                            <label>CreatedDate</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="resourceOfferJoinResourceRequirement.createdDate">
                        </div>
                        <div class="form-group">
                            <label>LastModifiedBy</label>
                            <input type="text" class="form-control"
                                   ng-model="resourceOfferJoinResourceRequirement.lastModifiedBy">
                        </div>
                        <div class="form-group">
                            <label>LastModifiedDate</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="resourceOfferJoinResourceRequirement.lastModifiedDate">
                        </div>
                        <div class="form-group">
                            <label>IsActive</label>
                            <input type="checkbox" class="form-control"
                                   ng-model="resourceOfferJoinResourceRequirement.isActive">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ResourceOfferId</th>
                    <th>ResourceRequirementId</th>
                    <th>Amount</th>
                    <th>CreatedBy</th>
                    <th>CreatedDate</th>
                    <th>LastModifiedBy</th>
                    <th>LastModifiedDate</th>
                    <th>IsActive</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resourceOfferJoinResourceRequirement in resourceOfferJoinResourceRequirements">
                    <td>{{resourceOfferJoinResourceRequirement.id}}</td>
                    <td>{{resourceOfferJoinResourceRequirement.resourceOfferId}}</td>
                    <td>{{resourceOfferJoinResourceRequirement.resourceRequirementId}}</td>
                    <td>{{resourceOfferJoinResourceRequirement.amount}}</td>
                    <td>{{resourceOfferJoinResourceRequirement.createdBy}}</td>
                    <td>{{resourceOfferJoinResourceRequirement.createdDate}}</td>
                    <td>{{resourceOfferJoinResourceRequirement.lastModifiedBy}}</td>
                    <td>{{resourceOfferJoinResourceRequirement.lastModifiedDate}}</td>
                    <td>{{resourceOfferJoinResourceRequirement.isActive}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(resourceOfferJoinResourceRequirement.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(resourceOfferJoinResourceRequirement.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
