<div>
 
    <h1> {{ 'global.resource.own.title' | translate }} Unternehmen
        <button class="btn btn-success btn-mid pull-right"
                ng-click="redirectToResource('new')">
            <span class="glyphicon glyphicon-tree-conifer"></span> {{ 'global.resource.newbutton' | translate }}
        </button>
    </h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td translate="global.resource.name">name</td>
                    <td translate="global.resource.amount">amount</td>
                    <td translate="global.resource.datefrom">available from</td>
                    <td translate="global.resource.dateto">available until</td>
                    <td translate="global.resource.commercial">commercial</td>
                    <td translate="global.resource.recurrent">recurrent</td>
                </tr>
            </thead>
            </thead>
            <tbody>
                <tr ng-repeat="resource in resources">
                    <td>{{ resource.name }}</td>
                    <td>{{ resource.amount }}</td>
                    <td>{{ resource.dateStart | date }}</td>
                    <td>{{ resource.dateEnd | date }}</td>
                    <td ng-show="resource.isCommercial"><span class="glyphicon glyphicon-ok"/></td>
                    <td ng-hide="resource.isCommercial"><span class="glyphicon glyphicon-remove"/></td>
                    <td ng-show="resource.isRecurrent"><span class="glyphicon glyphicon-ok"/></td>
                    <td ng-hide="resource.isRecurrent"><span class="glyphicon glyphicon-remove"/></td>
                    <td> 
                        <button type="button" class="btn btn-default" ng-click="redirectToResource(resource.id)">
                            {{ 'global.resource.own.editbutton' | translate }}
                        </button>
                        <button type="button" class="btn btn-default btn-danger" ng-click="delete(resource.id)">
                            {{ 'global.resource.own.deletebutton' | translate }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>