<div>
 
    <h1>{{ 'global.resource.title' | translate }}</h1>

    <div class="row">
        <div class=" col-md-5">
            <div>
            
            </div>
            <button type="button" class="btn btn-default " ng-click="search()">
                    {{'global.resource.searchbutton' | translate}}
                    </button>
        </div>
        <div class="col-md-7"> 
            <button class="btn btn-success btn-mid pull-right"
                    ng-click="redirectToResource('new')">
                <span class="glyphicon glyphicon-tree-conifer"></span> {{ 'global.resource.newbutton' | translate }}
            </button>
        </div>



        <form name="searchForm" role="form" novalidate ng-submit="search()">
            <div class="form-group col-xs-2">
                <label translate="resource.name">name</label>
                <input type="text" class="form-control" placeholder=" {{'global.resource.placeholder.search' | translate}}"
                    ng-model="resourceSearch.name"/>
            </div>
            <div class="form-group col-xs-2">
                <label translate="resource.tags">tags</label>
                <tags-input ng-model="searchTags" add-on-space="true" display-property="name" min-length="1"
                       placeholder=" {{'global.resource.placeholder.search' | translate}}">
                </tags-input>
            </div>
            <div class="form-group col-xs-2">
                <label translate="resource.organization">company</label>
                <input type="text" placeholder=" {{'global.resource.placeholder.search' | translate}}"
                    ng-model="resourceSearch.organization">
                </input>
            </div>
             <div class="form-group col-xs-2">
                <input type="checkbox"
                    ng-model="resourceSearch.available">
                </input>
                <label translate="resource.available">company</label>
            </div>

             <div class="form-group col-xs-2">
                <div class="btn-group">
                    <label class="btn btn-success" uncheckable 
                        ng-model="resourceSearch.isCommercial" btn-radio="true">Kommerziell</label>
                    <label class="btn btn-success" uncheckable
                        ng-model="resourceSearch.isCommercial" btn-radio="false">Nicht Kommerziell</label>
                </div>
            </div>
        </form>

    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td translate="global.resource.name">name</td>
                    <td translate="global.resource.company">company</td>
                    <td translate="global.resource.amount">amount</td>
                    <td translate="global.resource.startDate">available from</td>
                    <td translate="global.resource.endDate">available until</td>
                    <td translate="global.resource.commercial">commercial</td>
                    <td translate="global.resource.recurrent">recurrent</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-click=redirectToResource(resource.id) ng-repeat="resource in resources">
                    <td>{{ resource.name }}</td>
                    <td>{{ organization.name }}</td>
                    <td>{{ resource.amount }}</td>
                    <td>{{ resource.startDate | date}}</td>
                    <td>{{ resource.endDate | date }}</td>
                    <td ng-show="resource.isCommercial"><span class="glyphicon glyphicon-ok"/></td>
                    <td ng-hide="resource.isCommercial"><span class="glyphicon glyphicon-remove"/></td>
                    <td ng-show="resource.isRecurrent"><span class="glyphicon glyphicon-ok"/></td>
                    <td ng-hide="resource.isRecurrent"><span class="glyphicon glyphicon-remove"/></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>