<div>
    <div class="row">
        <div class="col-md-12">
            <h2 translate="settings.title" translate-values="{username: '{{account.login}}'}">User settings for [
                <b>{{settingsAccount.login}}</b>
                ]
            </h2>

            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" translate="settings.messages.error">
                <strong>An error has occured!</strong>
                Settings could not be saved.
            </div>
            <div class="alert alert-success" ng-show="accountdeleted" translate="settings.messages.account.deleted">
                <strong>Your account was successfully deleted!</strong>
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>
                <div class="col-md-8" ng-show="edit.account">
                    <div class="form-group">
                        <label translate="settings.form.title">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="{{'settings.form.title.placeholder' | translate}}" ng-model="settingsAccount.title" ng-minlength=1 ng-maxlength=20 maxlength="20">
                        <div ng-show="form.title.$dirty && form.title.$invalid">
                            <p class="help-block" ng-show="form.title.$error.maxlength" translate="settings.messages.validate.title.maxlength">
                                Your first name cannot be longer than 20 characters
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="settings.form.firstname">First Name</label>
                        <input type="text" class="form-control" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}" ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                        <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                            <p class="help-block" ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                                Your first name is required.
                            </p>
                            <p class="help-block" ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                                Your first name is required to be at least 1 character
                            </p>
                            <p class="help-block" ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                                Your first name cannot be longer than 50 characters
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="settings.form.lastname">Last Name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}" ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                        <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                            <p class="help-block" ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                                Your last name is required.
                            </p>
                            <p class="help-block" ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                                Your last name is required to be at least 1 character
                            </p>
                            <p class="help-block" ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                                Your last name cannot be longer than 50 characters
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="settings.account.gender">Gender</label>
                        <select class="form-control" name="gender" ng-options="g|lowercase for g in gender" ng-model="settingsAccount.gender" required>
                        </select>
                        <div ng-show="form.gender.$dirty && form.gender.$invalid">
                            <p class="help-block" ng-show="form.gender.$error.required" translate="settings.messages.validate.gender.required">
                                Your gender is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="global.form.email">E-mail</label>
                        <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}" ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                        <div ng-show="form.email.$dirty && form.email.$invalid">
                            <p class="help-block" ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                                Your e-mail is required.
                            </p>
                            <p class="help-block" ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                                Your e-mail is invalid.
                            </p>
                            <p class="help-block" ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                                Your e-mail is required to be at least 5 characters
                            </p>
                            <p class="help-block" ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                                Your e-mail cannot be longer than 100 characters
                            </p>
                        </div>

                    </div>
                    <div class="form-group">
                        <label translate="global.form.description">Description</label>
                        <textarea class="form-control" name="description" ng-model="settingsAccount.description" ng-minlength=0 ng-maxlength=2048 maxlength="2048" />
                        <div ng-show="form.description.$dirty && form.description.$invalid">
                            <p class="help-block" ng-show="form.description.$error.maxlength" translate="global.messages.validate.description.maxlength">
                                Your description cannot be longer than 2048 characters
                            </p>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="general.button.save" ng-click="edit.account = !edit.account">Save
                    </button>
                    <a class="btn btn-link" translate="general.button.cancel" ng-click="edit.account = !edit.account">Cancel
                    </a>
                    <div class="pull-right">
                        <rsp-confirm-delete on-confirm=delete()></rsp-confirm-delete>
                    </div>

                </div>

                <div class="col-md-3 profile" ng-hide="edit.account">
                    <h4>{{fullName}}</h4>
                    <div ng-hide="edit.image">
                        <img src="{{profilePicture}}" alt="Profilbild">
                    </div>
                    <div>
                        <a ng-click="edit.image = !edit.image">
                            <span translate="settings.account.profile_img_edit">New profile picture</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 account" ng-hide="edit.account">
                    <h4 translate="settings.account.info_heading">Account information</h4>
                    <div ng-hide="edit.account">
                        <dl class="dl-horizontal">
                            <dt>
                                <span translate="settings.account.title">Title</span>:
                            </dt>
                            <dd>{{settingsAccount.title}}</dd>
                            <dt>
                                <span translate="settings.account.name">Name</span>:
                            </dt>
                            <dd>{{fullName}}</dd>
                            <dt>
                                <span translate="settings.account.gender">Gender</span>:
                            </dt>
                            <dd>{{ settingsAccount.gender | lowercase }}</dd>
                            <dt>
                                <span translate="settings.account.email">E-Mail</span>:
                            </dt>
                            <dd>{{settingsAccount.email}}</dd>
                            <dt>
                                <span translate="settings.account.description">Description</span>:
                            </dt>
                        </dl>
                        <div>
                            {{settingsAccount.description}}
                        </div>

                    </div>
                    <div class="text-right" ng-hide="edit.account">
                        <a ng-click="edit.account = !edit.account">
                            <span translate="general.edit">edit</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-5 member" ng-hide="edit.account">
                    <h4>Member by</h4>
                </div>
            </form>

            <div class='organization row col-md-12'>
                <div>
                    <h3 translate='orgJoinRequest.openInvitations'>Open invitations</h3>
                    <ul>
                        <li class="organization-item" ng-repeat="orgJoinRequest in orgJoinRequests">
                            <a ng-click="redirectToOrganization(organization.name)">
                                <img src="{{organization.logo | logo}}" alt="logo {{orgJoinRequest.organization.name}}">
                            </a>
                            <h2>
                                <a ng-click="redirectToOrganization(organization.name)">{{orgJoinRequest.organization.name}}</a>
                            </h2>
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <button type="button" class="btn btn-success" ng-click='acceptInvitation(orgJoinRequest.id)'>
                                    <i class="glyphicon glyphicon-ok"></i>
                                    {{'orgJoinRequest.accept' | translate}}
                                </button>

                                <button type="button" class="btn btn-default btn-danger" aria-expanded="false" ng-click='declineInvitation(orgJoinRequest.id)'>
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
