<div>
    <div class="row">
        <div class="col-md-6">
            <h2 translate="global.textmessages.title">Messages</h2>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#saveTextMessageModal" ng-click="clear()">
                <span class="glyphicon glyphicon-plus"></span>
                <span translate="global.textmessages.createmessage">Create a new TextMessage</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" ng-show="deletesuccess" translate="global.textmessages.success.delete">
                <strong>Message deleted successfully.</strong>
            </div>
            <div class="alert alert-danger" ng-show="deleteerror">
                <strong translate="global.textmessages.error.delete">Message could not be deleted:</strong>{{ deleteerrorMsg }}
            </div>
            <div class="alert alert-success" ng-show="sendsuccess" translate="global.textmessages.success.send">
                <strong>Message sent successfully.</strong>
            </div>
            <div class="alert alert-danger" ng-show="senderror" translate="global.textmessages.error.send">
                <strong>An error has occured!</strong>
                Message could not be sent.
            </div>
            <div class="alert alert-danger" ng-show="senderrorUserNotFound" translate="global.textmessages.error.usernotfound">
                <strong>An error has occured!</strong>
                Message could not be sent.
            </div>
            <div class="alert alert-success" ng-show="senderrorReceiverLength" translate="global.textmessages.error.receiverlength">
                <strong>An error has occured!</strong>
                Message could not be sent.
            </div>
            <div class="alert alert-success" ng-show="senderrorReceiverLength" translate="global.textmessages.error.contentlength">
                <strong>An error has occured!</strong>
                Message could not be sent.
            </div>
            <div ng-show="reply-form.content.$dirty && reply-form.content.$invalid">
                <p class="help-block" ng-show="reply-form.content.$error.minlength"
                   translate="global.textmessages.validate.content.minlength">
                    The content of the message is required to be at least 1 character
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate="global.textmessages.sender">sender</th>
                            <th translate="global.textmessages.date">timestamp</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="message in textMessages" ng-click="viewMessage(message)">
                        <td><strong>{{message.sender}}</strong></td>
                        <td>{{message.timestamp | date}}</td>

                        <td ng-click="$event.stopPropagation()">
                            <div class="pull-right">
                                <button type="submit"
                                        ng-click="reply(message.sender)"
                                        class="btn btn-success">
                                    <span class="glyphicon glyphicon-retweet"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" ng-show="viewedTextMessage != null">
                <div>
                    <div class="panel panel-default" >
                        <div class="panel-heading clearfix">
                            <div class="panel-title pull-left">
                                <table>
                                    <tr>
                                        <td>
                                            <strong translate="global.textmessages.from">From </strong>:
                                        </td>
                                        <td>
                                            <span>{{ viewedTextMessage.sender }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong translate="global.textmessages.atdate">on </strong>:
                                        </td>
                                        <td>
                                            <span>{{ viewedTextMessage.timestamp | date }}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="pull-right">
                                <rsp-confirm-delete on-confirm="delete(viewedTextMessage)"></rsp-confirm-delete>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                {{ viewedTextMessage.content }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="viewedTextMessage != null">
                    <form name="replyform" role="form" ng-submit="reply(viewedTextMessage.sender)"
                          novalidate show-validation>

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="content" class="fullwidth form-control"
                                          ng-model="textMessageToSend.content"
                                          required ng-minlength="1" maxlength="2048" ng-maxlength="2048"></textarea>
                                <div ng-show="replyform.content.$dirty && replyform.content.$invalid">
                                    <p class="help-block"
                                       ng-show="replyform.content.$error.minlength" translate="settings.textmessages.validate.content.minlength">
                                        Your message must be at least 1 character long.
                                    </p>
                                    <p class="help-block"
                                       ng-show="replyform.content.$error.maxlength" translate="settings.textmessages.validate.content.maxlength">
                                        Your message cannot be longer than 2048 characters.
                                    </p>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="submit"
                                        ng-disabled="replyform.$invalid"
                                        class="btn btn-success">
                                    <span class="glyphicon glyphicon-retweet"></span>
                                    <span translate="global.textmessages.reply">Reply</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveTextMessageModal" tabindex="-1" role="dialog" aria-labelledby="myTextMessageLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="sendform" role="form" novalidate show-validation
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTextMessageLabel" translate="global.textmessages.createmessage">Create a TextMessage</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label translate="global.textmessages.receiver">Receiver</label>
                            <input type="text" class="form-control" ng-minlength="1" name="sreceiver"
                                   ng-model="textMessageToSend.receiver"
                                   typeahead="uname for uname in getUsernames($viewValue)" required>
                            <div ng-show="sendform.sreceiver.$dirty && sendform.sreceiver.$invalid">
                                <p class="help-block" ng-show="sendform.sreceiver.$error.minlength" translate="global.textmessages.validate.receiver.minlength">
                                    The content of the message is required to be at least 1 character
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="global.textmessages.content">Content</label>
                            <textarea name="content" class="fullwidth form-control"
                                      ng-model="textMessageToSend.content"
                                      required ng-minlength="1" maxlength="2048" ng-maxlength="2048"></textarea>
                            <div ng-show="sendform.content.$dirty && sendform.content.$invalid">
                                <p class="help-block" ng-show="sendform.content.$error.minlength" translate="global.textmessages.validate.content.minlength">
                                    The content of the message is required to be at least 1 character
                                </p>
                            </div>
                        </div>
                        <div class="alert alert-danger" ng-show="senderrorUserNotFound" translate="global.textmessages.error.usernotfound">
                            <strong>An error has occured!</strong>
                            Message could not be sent.
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            <span translate="global.form.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="sendform.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>
                            <span translate="global.form.send">Send</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
