<div>
    <div class="page-title">
        <div class="title_left">
            <h3>
                {{ vm.organisation.name }}
            </h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Info's über die Organisation</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Blabla</p>
                </div>
            </div>
        </div>
    </div>
</div>
