/* Add here all your css styles (customizations) */
.big-explanation {
  position: fixed;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  z-index: 100000;
  background-color: #FFF;
  -webkit-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  padding: 2em;
}

.big-explanation.out {
  margin-top: -100%;
}

.big-explanation i {
  font-size: 2em;
  position: absolute;
  right: 2em;
  top: 1em;
  cursor: pointer;
}

uploaded-image, [uploaded-image] {
  height: 200px;
  display: block;
}
/* line 291, ../../scss/main.scss */
uploaded-image div, [uploaded-image] div {
  height: 100%;
  width: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.btn-u.btn-brd.btn-u-light {
  color: #fff;
  border-color: #fff;
  margin-top: 24px;
  padding: 10px 30px;
  background: rgba(255,255,255,0.2);
  border-color: transparent;
}

.tp-caption.rs-caption-3 .btn-brd {
  border: transparent;
  background-color: #358835;
  padding: 30px 45px;
  font-size: 1.6em;
  border-color: transparent;
}

.one-page-header {
  background-color: transparent;
}

.rs-caption-1 {
  font-size: 54px !important;
  border-width: 0 !important;
}

.rs-caption-1::after, .rs-caption-1::before {
  content: none;
}

.rs-caption-2 .btn-brd {
  font-size: 0.8em;
}

.rs-caption-2:after {
  content: none;
}