/* Add here all your css styles (customizations) */

.overflow-hidden {
  overflow: hidden;
}

.big-explanation {
  position: fixed;
  top: 0;
  left: 0;
  height: 98%;
  width: 98%;
  margin-left: 1%;
  z-index: 100000;
  background-color: #FFF;
  -webkit-transition: .5s ease all;
  -o-transition: .5s ease all;
  transition: .5s ease all;
  padding: 2em;
  overflow: scroll;
}

.big-explanation.out {
  margin-top: -200%;
}

.big-explanation i {
  font-size: 2em;
  position: absolute;
  right: 2em;
  top: 1em;
  cursor: pointer;
}

uploaded-image,
[uploaded-image] {
  height: 200px;
  display: block;
}

uploaded-image div,
[uploaded-image] div {
  height: 100%;
  width: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.btn-u.btn-brd.btn-u-light {
  color: #fff;
  border-color: transparent;
  margin-top: 24px;
  padding: 10px 30px;
  border-color: transparent;
}

.tp-caption.rs-caption-2 .btn-u.btn-brd.btn-u-light {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.2);
}

.tp-caption.rs-caption-2 .btn-u.btn-brd.btn-u-light.btn-brd-hover:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
  color: #fff !important;
}

.tp-caption.rs-caption-3 .btn-brd {
  border: transparent;
  background-color: #358835;
  padding: 20px 30px;
  font-size: 18px;
  border-color: transparent;
}

.one-page-header {
  background-color: transparent;
}

.rs-caption-1 {
  font-size: 54px !important;
  border-width: 0 !important;
}

.rs-caption-1::after,
.rs-caption-1::before {
  content: none;
}

.rs-caption-2 .btn-brd {
  font-size: 0.8em;
}

.rs-caption-2:after {
  content: none;
}

.circle {
  border-radius: 60px !important;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  width: 70px;
  height: 70px;
  font-size: 2em;
  color: #333;
  padding: 13px;
  text-align: center;
  margin-right: 10px;
  font-family: 'Open Sans';
  padding-left: 16px;
}

.circle + h2 {
  margin-top: 19px;
  font-size: 22px;
}

.circle + h2 .small {
  display: block;
}

.spacer-medium {
  margin-top: 50px;
}

.spacer-big {
  margin-top: 100px;
}

.nav .btn-group {
  margin-top: 6px;
}

.cbp-caption {
  padding: 12px;
  height: 300px;
}

.cbp-caption uploaded-image div {
  background-position-y: 100%;
}

.cbp-l-caption-alignLeft {
  background-color: rgba(48, 48, 48, 0.5);
  padding: 12px;
  box-sizing: content-box;
  height: 25px;
  white-space: nowrap;
}

.cbp-l-caption-alignLeft .cbp-l-caption-title span {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  width: 80%;
}

.cbp-caption .progress-bar {
  height: 4px;
  float: none;
}

.cbp-item.resource {
  background-color: #f2f2f2;
}
