<div ng-show="uploader.isHTML5">
    <input type="file" ng-hide="true" nv-file-select="" uploader="uploader" multiple id="file_upload" />
    <div nv-file-drop="" uploader="uploader">
        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
            <div uploaded-image name="value" />
            <div class='file-upload-hover'>
                <label for="file_upload">
                    <i class="glyphicon glyphicon-upload"></i>
                </label>
                <progressbar ng-hide="file == undefined" class="progress-striped active" value="_progress" type="{{_type}}">{{_progress}}</progressbar>
            </div>
        </div>
    </div>
</div>
