@import url(./landing-page.css);
/* line 11, ../../scss/main.scss */
.input-group input[type=text].form-control {
  height: 33px;
}

/* line 16, ../../scss/main.scss */
.btn, .form-control {
  border-radius: 0;
}

/* line 20, ../../scss/main.scss */
.container-landing-page {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/* line 26, ../../scss/main.scss */
.container-landing-page [ng-view] {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 33, ../../scss/main.scss */
[ng-view].well {
  margin-top: 10px;
}

/* line 37, ../../scss/main.scss */
.ribbon-development, .ribbon-test {
  position: absolute;
  width: 149px;
  height: 149px;
  top: 0;
  left: 0;
  border: 0;
  z-index: 1000;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 49, ../../scss/main.scss */
.ribbon-development {
  background-image: url("../images/development_ribbon.png");
}

/* line 53, ../../scss/main.scss */
.ribbon-test {
  background-image: url("../images/test_ribbon.png");
}

/* line 57, ../../scss/main.scss */
.error {
  color: white;
  background-color: red;
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
/* line 63, ../../scss/main.scss */
a:hover {
  cursor: pointer;
}

/* line 67, ../../scss/main.scss */
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

/* start Password strength bar style */
/* line 74, ../../scss/main.scss */
ul#strength {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}

/* line 83, ../../scss/main.scss */
.point:last {
  margin: 0 !important;
}

/* line 87, ../../scss/main.scss */
.point {
  background: #DDD;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 20px;
}

/* end Password strength bar style */
/************************
 * Settings
 ************************/
/* line 101, ../../scss/main.scss */
img {
  border-radius: 2px;
}

/* line 106, ../../scss/main.scss */
.profile img {
  width: 100%;
}

/* line 112, ../../scss/main.scss */
.member li {
  padding: 0 5px 7px 5px;
  border: 1px solid #e3e3e3;
}
/* line 116, ../../scss/main.scss */
.member li .pull-left {
  padding: 0 10px 10px 0;
}
/* line 119, ../../scss/main.scss */
.member li .pull-left img {
  border-radius: 2px;
  width: 100%;
}

/* line 127, ../../scss/main.scss */
.profile, .account, .member {
  transition: .3s ease opacity;
  opacity: 1;
}
/* line 131, ../../scss/main.scss */
.profile.ng-hide, .account.ng-hide, .member.ng-hide {
  opacity: 0;
}

/* line 137, ../../scss/main.scss */
.organization .organization-item {
  min-height: inherit;
}
/* line 140, ../../scss/main.scss */
.organization .organization-item h2 {
  margin: 10px 0;
}

/* line 147, ../../scss/main.scss */
.orgjoinrequest .btn-group {
  margin-top: 25px;
}

/* line 152, ../../scss/main.scss */
.underline {
  text-decoration: underline;
}

/* line 156, ../../scss/main.scss */
.my-drop-zone {
  text-align: center;
  border: none;
  box-shadow: none;
  font-size: 4em;
  position: relative;
}
/* line 163, ../../scss/main.scss */
.my-drop-zone .file-upload-hover {
  position: absolute;
  top: 0px;
  left: -1px;
  height: calc(100% - 40px);
  width: calc(100% - 38px);
  margin: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 80px;
  border-radius: 2px;
  opacity: 0;
  transition: .25s ease opacity;
  cursor: pointer;
}
/* line 178, ../../scss/main.scss */
.my-drop-zone .file-upload-hover:hover {
  opacity: 1;
}
/* line 182, ../../scss/main.scss */
.my-drop-zone .file-upload-hover i {
  cursor: pointer;
}
/* line 186, ../../scss/main.scss */
.my-drop-zone .file-upload-hover .progress-striped {
  position: absolute;
  left: 10%;
  width: 80%;
}

/* line 194, ../../scss/main.scss */
.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */
/* line 200, ../../scss/main.scss */
.another-file-over-class {
  border: dotted 3px green;
}

/* line 204, ../../scss/main.scss */
canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  width: 100%;
}

/* line 215, ../../scss/main.scss */
.modal-content .project-item uploaded-image {
  height: 145px;
}

/* line 221, ../../scss/main.scss */
.icons {
  font-size: 20px;
}

/* line 225, ../../scss/main.scss */
.project-item {
  list-style-type: none;
  background-color: #FFF;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  min-height: 300px;
}
/* line 232, ../../scss/main.scss */
.project-item .content {
  padding: 10px;
}
/* line 236, ../../scss/main.scss */
.project-item img {
  height: 200px;
  width: 100%;
}
/* line 241, ../../scss/main.scss */
.project-item h2 {
  margin: 5px 0 20px 0;
  font-size: 18px;
}
/* line 246, ../../scss/main.scss */
.project-item .badge {
  white-space: inherit;
  margin: 1px;
}

/* line 254, ../../scss/main.scss */
.project uploaded-image div {
  background-size: cover;
  background-position: 50%;
}

/* line 263, ../../scss/main.scss */
tags-input .tags .tag-item {
  background: #EFEFEF;
  border-radius: 1px;
  color: #333;
  padding: 0 8px;
}
/* line 270, ../../scss/main.scss */
tags-input .tags .tag-item.selected {
  background: #ACACAC;
}
/* line 276, ../../scss/main.scss */
tags-input .host {
  margin: 0;
}

/* line 282, ../../scss/main.scss */
.organization-logo uploaded-image div {
  background-position-x: 0;
}

/* line 287, ../../scss/main.scss */
uploaded-image, [uploaded-image] {
  height: 200px;
  display: block;
}
/* line 291, ../../scss/main.scss */
uploaded-image div, [uploaded-image] div {
  height: 100%;
  width: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* line 300, ../../scss/main.scss */
.project-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  min-height: 100px;
}

/* line 307, ../../scss/main.scss */
.tags-container .tags {
  cursor: default;
  user-select: none;
}
/* line 311, ../../scss/main.scss */
.tags-container .tags .remove-button {
  display: none;
}
/* line 315, ../../scss/main.scss */
.tags-container .tags input {
  display: none;
}

/* line 320, ../../scss/main.scss */
.rating-container {
  text-align: center;
  margin: 50px 0;
}

/* line 329, ../../scss/main.scss */
.panel-body ul {
  padding: 0;
}
/* line 332, ../../scss/main.scss */
.panel-body ul li {
  list-style-type: none;
}
/* line 335, ../../scss/main.scss */
.panel-body ul li div {
  box-sizing: border-box;
}
/* line 339, ../../scss/main.scss */
.panel-body ul li img {
  height: 75px;
}

/* line 346, ../../scss/main.scss */
.newsfeed .posting {
  margin: 25px 0;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #E2E2E2;
}
/* line 354, ../../scss/main.scss */
.newsfeed .pull-left {
  margin-right: 16px;
}
/* line 358, ../../scss/main.scss */
.newsfeed .heading h4 {
  margin-left: 16px;
  margin-top: 0;
}
/* line 363, ../../scss/main.scss */
.newsfeed uploaded-image {
  width: 60px;
  height: 60px;
}

/* line 371, ../../scss/main.scss */
.resource-search-container .resource-item-container .resource, .resource-search-container .toggleable-card .resource, .toggleable-cards-container .resource-item-container .resource, .toggleable-cards-container .toggleable-card .resource {
  position: relative;
}
/* line 376, ../../scss/main.scss */
.resource-search-container .resource-item-container.open .resource-item, .resource-search-container .resource-item-container.open .project-item, .resource-search-container .toggleable-card.open .resource-item, .resource-search-container .toggleable-card.open .project-item, .toggleable-cards-container .resource-item-container.open .resource-item, .toggleable-cards-container .resource-item-container.open .project-item, .toggleable-cards-container .toggleable-card.open .resource-item, .toggleable-cards-container .toggleable-card.open .project-item {
  top: -200px;
  z-index: 3;
}
/* line 380, ../../scss/main.scss */
.resource-search-container .resource-item-container.open .resource-item uploaded-image > div, .resource-search-container .resource-item-container.open .project-item uploaded-image > div, .resource-search-container .toggleable-card.open .resource-item uploaded-image > div, .resource-search-container .toggleable-card.open .project-item uploaded-image > div, .toggleable-cards-container .resource-item-container.open .resource-item uploaded-image > div, .toggleable-cards-container .resource-item-container.open .project-item uploaded-image > div, .toggleable-cards-container .toggleable-card.open .resource-item uploaded-image > div, .toggleable-cards-container .toggleable-card.open .project-item uploaded-image > div {
  height: 120px;
  top: -45px;
  outline: 1px solid #ddd;
}
/* line 387, ../../scss/main.scss */
.resource-search-container .resource-item-container.open .details, .resource-search-container .toggleable-card.open .details, .toggleable-cards-container .resource-item-container.open .details, .toggleable-cards-container .toggleable-card.open .details {
  opacity: 1;
}
/* line 392, ../../scss/main.scss */
.resource-search-container .resource-item-container .resource-item, .resource-search-container .resource-item-container .project-item, .resource-search-container .toggleable-card .resource-item, .resource-search-container .toggleable-card .project-item, .toggleable-cards-container .resource-item-container .resource-item, .toggleable-cards-container .resource-item-container .project-item, .toggleable-cards-container .toggleable-card .resource-item, .toggleable-cards-container .toggleable-card .project-item {
  position: relative;
  z-index: 1;
  padding-top: 75px;
  min-height: inherit;
  top: 0;
  transition: .2s ease all;
}
/* line 402, ../../scss/main.scss */
.resource-search-container .resource-item-container .resource-item .content h2 small, .resource-search-container .resource-item-container .project-item .content h2 small, .resource-search-container .toggleable-card .resource-item .content h2 small, .resource-search-container .toggleable-card .project-item .content h2 small, .toggleable-cards-container .resource-item-container .resource-item .content h2 small, .toggleable-cards-container .resource-item-container .project-item .content h2 small, .toggleable-cards-container .toggleable-card .resource-item .content h2 small, .toggleable-cards-container .toggleable-card .project-item .content h2 small {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 412, ../../scss/main.scss */
.resource-search-container .resource-item-container .details, .resource-search-container .toggleable-card .details, .toggleable-cards-container .resource-item-container .details, .toggleable-cards-container .toggleable-card .details {
  opacity: 0;
  transition: .2s ease all;
  margin-top: -200px;
}
/* line 418, ../../scss/main.scss */
.resource-search-container .resource-item-container .btn-claim, .resource-search-container .toggleable-card .btn-claim, .toggleable-cards-container .resource-item-container .btn-claim, .toggleable-cards-container .toggleable-card .btn-claim {
  position: absolute;
  bottom: 0;
}
/* line 422, ../../scss/main.scss */
.resource-search-container .resource-item-container .btn-claim .btn, .resource-search-container .toggleable-card .btn-claim .btn, .toggleable-cards-container .resource-item-container .btn-claim .btn, .toggleable-cards-container .toggleable-card .btn-claim .btn {
  width: 100%;
}
/* line 427, ../../scss/main.scss */
.resource-search-container .resource-item-container .progress, .resource-search-container .toggleable-card .progress, .toggleable-cards-container .resource-item-container .progress, .toggleable-cards-container .toggleable-card .progress {
  height: 5px;
  margin-bottom: 0;
}
/* line 432, ../../scss/main.scss */
.resource-search-container .resource-item-container .last, .resource-search-container .toggleable-card .last, .toggleable-cards-container .resource-item-container .last, .toggleable-cards-container .toggleable-card .last {
  margin-bottom: 0;
}
/* line 436, ../../scss/main.scss */
.resource-search-container .resource-item-container uploaded-image, .resource-search-container .toggleable-card uploaded-image, .toggleable-cards-container .resource-item-container uploaded-image, .toggleable-cards-container .toggleable-card uploaded-image {
  height: auto;
}
/* line 439, ../../scss/main.scss */
.resource-search-container .resource-item-container uploaded-image > div, .resource-search-container .toggleable-card uploaded-image > div, .toggleable-cards-container .resource-item-container uploaded-image > div, .toggleable-cards-container .toggleable-card uploaded-image > div {
  height: 70px;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  transition: .2s ease all;
}

/* line 454, ../../scss/main.scss */
.organization-details .toggleable-card .project-item {
  padding-top: 135px;
  min-height: 200px;
}
/* line 459, ../../scss/main.scss */
.organization-details .toggleable-card .details {
  min-height: 200px;
}
/* line 464, ../../scss/main.scss */
.organization-details .toggleable-card uploaded-image div {
  height: 140px;
  background-size: cover;
}
/* line 471, ../../scss/main.scss */
.organization-details .toggleable-card.open .project-item {
  height: 140px;
  top: -200px;
}
/* line 476, ../../scss/main.scss */
.organization-details .toggleable-card.open .project-item uploaded-image div {
  height: 140px;
  top: 0;
}
/* line 486, ../../scss/main.scss */
.organization-details uploaded-image div {
  background-position: 50%;
  background-size: contain;
}

/* line 493, ../../scss/main.scss */
.on-hover {
  opacity: 0;
  transition: .2s ease opacity;
}

/* line 499, ../../scss/main.scss */
.hover-toggle:hover .on-hover {
  opacity: 1;
}

/* line 505, ../../scss/main.scss */
.modal-apply h2, .modal-claim h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  text-align: center;
}
/* line 512, ../../scss/main.scss */
.modal-apply .resource .content p, .modal-apply .resource .content small, .modal-claim .resource .content p, .modal-claim .resource .content small {
  display: none;
}
/* line 519, ../../scss/main.scss */
.modal-apply .resource.selected .resource-item h2, .modal-claim .resource.selected .resource-item h2 {
  text-decoration: underline;
}
/* line 527, ../../scss/main.scss */
.modal-apply .project-item.selected, .modal-claim .project-item.selected {
  box-shadow: 0 0 8px #CCC;
}

/* line 534, ../../scss/main.scss */
.modal .project-item {
  min-height: inherit;
}
/* line 538, ../../scss/main.scss */
.modal .project-item h2 a {
  font-size: 14px;
}

/* line 545, ../../scss/main.scss */
.approved {
  position: absolute;
  height: 100px;
  right: 265px;
  top: -140px;
}

/* line 552, ../../scss/main.scss */
.dropdown-toggle {
  border-radius: 0 !important;
}

/* line 557, ../../scss/main.scss */
.dropdown .badge {
  background-color: #C40000;
  top: -1px;
  position: relative;
  left: 12px;
}

/* line 565, ../../scss/main.scss */
.highlight, .highlight td {
  background-color: #FFF37B !important;
}

/* line 569, ../../scss/main.scss */
.error-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
/* line 574, ../../scss/main.scss */
.error-container .alert {
  border-radius: 0;
  margin: 10px 0;
}

/* line 580, ../../scss/main.scss */
.spacer-left {
  margin-left: 16px;
}

/* line 584, ../../scss/main.scss */
.spacer-left-2 {
  margin-left: 32px;
}

/* line 588, ../../scss/main.scss */
.spacer-left-3 {
  margin-left: 48px;
}

/* line 592, ../../scss/main.scss */
.spacer-left-4 {
  margin-left: 64px;
}

/* line 596, ../../scss/main.scss */
.spacer-left-small {
  margin-left: 8px;
}

/* line 600, ../../scss/main.scss */
.spacer-top {
  margin-top: 16px;
}

/* line 604, ../../scss/main.scss */
.spacer-top-2 {
  margin-top: 32px;
}

/* line 608, ../../scss/main.scss */
.spacer-top-3 {
  margin-top: 48px;
}

/* line 612, ../../scss/main.scss */
.spacer-top-4 {
  margin-top: 64px;
}

/* line 616, ../../scss/main.scss */
.angular-google-map-container {
  height: 400px;
}

/* line 618, ../../scss/main.scss */
.form-search {
  margin-bottom: 50px;
}

/* line 623, ../../scss/main.scss */
.project-details .organization {
  max-width: 200px;
}
/* line 627, ../../scss/main.scss */
.project-details .project-item {
  min-height: inherit;
}
/* line 630, ../../scss/main.scss */
.project-details .project-item uploaded-image {
  height: 75px;
}
/* line 635, ../../scss/main.scss */
.project-details .badge {
  margin: 2px;
}
/* line 639, ../../scss/main.scss */
.project-details .modal-body {
  clear: left;
}
/* line 644, ../../scss/main.scss */
.project-details .accordion-toggle .ellipsis {
  padding-left: 15px;
}
/* line 648, ../../scss/main.scss */
.project-details .accordion-toggle .pull-right {
  margin-right: 10px;
}

/* line 654, ../../scss/main.scss */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

/* line 658, ../../scss/main.scss */
.dynamic-image {
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

/* line 665, ../../scss/main.scss */
.postingform textarea {
  height: 33px;
  transition: .25s ease height;
}
/* line 670, ../../scss/main.scss */
.postingform .btn {
  opacity: 0;
  transition: .25s ease opacity;
  transition-delay: .25s;
}
/* line 677, ../../scss/main.scss */
.postingform .focused textarea {
  height: 100px;
}
/* line 681, ../../scss/main.scss */
.postingform .focused .btn {
  opacity: 1;
}

/* line 687, ../../scss/main.scss */
.inline-block {
  display: inline-block;
}

/* line 691, ../../scss/main.scss */
.line-through {
  text-decoration: line-through;
}

/* unify customizations */
/* line 699, ../../scss/main.scss */
.header .logo img {
  margin: 5px 0;
}
/* line 706, ../../scss/main.scss */
.header .topbar .loginbar > li {
  margin: 0 5px;
}
/* line 710, ../../scss/main.scss */
.header .topbar .loginbar .topbar-account-header {
  display: inline-block;
  white-space: nowrap;
}
/* line 714, ../../scss/main.scss */
.header .topbar .loginbar .topbar-account-header > span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
}

/* line 726, ../../scss/main.scss */
.text-italic {
  font-style: italic;
}

/* line 730, ../../scss/main.scss */
.editable-controls {
  position: relative;
  z-index: 1;
}
