<div class="project-item resource-item" ng-class="{ 'open': toggled }">
    <uploaded-image name="resource.logo.id" ng-click="toggle"></uploaded-image>
    <div class="content">
        <h2>
            {{resource.name}}
            <br />
            <small>Angebot von <a ng-click="redirectToOrganization(resource.organization.id)">{{ resource.organization.name }}</a></small>
        </h2>
        <p>
            <span>Ende des Angebots: {{ resource.endDate | date }}</span>
        </p>
        <p class="last">
            <span>{{ resource.amount }} Stück verfügbar</span>
            <progressbar value="100 * resource.amount / (resource.originalAmount)"></progressbar>
        </p>
    </div>
</div>

<div class="details col-xs-12 spacer-top">
    {{ resource.description }}
</div>
<button ng-show="isClaimable(resource)" ng-click="$claimResource(resource)" data-toggle="modal" data-target="#claimResourceModal" class="btn btn-primary" translate="resource.search.request">
    Request resource
</button>