<div class="project-item resource-item" ng-class="{ 'open': toggled }">
    <uploaded-image name="resource.logo.id" ng-click="toggle"></uploaded-image>
    <div class="content">
        <h2 class="ellipsis" tooltip="{{ resource.name }}" tooltip-popup-delay="1000" tooltip-append-to-body="true">
            {{resource.name}}
            <br />
            <small>Angebot von <a ng-click="redirectToOrganization(resource.organization.id)">{{ resource.organization.name }}</a></small>
        </h2>
        <p>
            <span>Ende des Angebots: {{ resource.endDate | date }}</span>
        </p>
        <p class="last">
            <span>{{ resource.amount }} Stück verfügbar</span>
            <progressbar value="100 * resource.amount / (resource.originalAmount)"></progressbar>
        </p>
    </div>
</div>