ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  display block

.ribbon-development, .ribbon-test
  position: absolute;
  width: 149px;
  height: 149px;
  top: 0;
  left: 0;
  border: 0;
  z-index: 1000;
  background-position: center center;
  background-repeat: no-repeat;

.ribbon-development
  background-image: url("../images/development_ribbon.png");

.ribbon-test
  background-image: url("../images/test_ribbon.png");

/* unify customizations */

.header {
  .logo {
    img {
      margin: 5px 0;
    }
  }

  .topbar {
    .loginbar {
      > li {
        margin: 0 5px;
      }

      .topbar-account-header {
        display: inline-block;
        white-space: nowrap;

        > span {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
}

.text-italic {
  font-style: italic;
}

.editable-controls {
  position: relative;
  z-index: 1;
}

.subheader {
  &.fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    + .container {
      margin-top: 60px;
    }
  }

  .navbar.navbar-default {
    border: none;
    border-bottom: 1px solid #e7e7e7;

    .logo {
      width: 32px;
      height: 32px;
      position: absolute;
      left: -25px;
      top: 8px;
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
