$icon-font-path: "../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

@import './bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss';
// @import './bootstrap.css';
@import './landing-page.css';

@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a, a:hover, a:visited, a:focus {
    color: #333;
}

.input-group {
    input[type=text].form-control {
        height: 33px;
    }
}

.btn, .form-control {
    border-radius: 0;
}

.container-landing-page {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    /* height of the navbar (50px height + 1px border-bottom) */
    margin-top: -51px;

    [ng-view] {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

[ng-view].well {
    margin-top: 10px;
}

.ribbon-development, .ribbon-test {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-position: center center;
    background-repeat: no-repeat;
}

.ribbon-development {
    background-image: url("../images/development_ribbon.png");
}

.ribbon-test {
    background-image: url("../images/test_ribbon.png");
}

.error {
    color: white;
    background-color: red;
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
    cursor: pointer;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* end Password strength bar style */

/************************
 * Nav
 ************************/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

/************************
 * Settings
 ************************/
img {
    border-radius: 2px;
}

.profile {
    img {
        width: 100%;
    }
}

.member {
    li {
        padding: 0 5px 7px 5px;
        border: 1px solid #e3e3e3;

        .pull-left {
            padding: 0 10px 10px 0;

            img {
                border-radius: 2px;
                width: 100%;
            }
        }
    }
}

.profile, .account, .member {
    transition: .3s ease opacity;
    opacity: 1;

    &.ng-hide {
        opacity: 0;
    }
}

.organization {
    .organization-item {
        min-height: inherit;

        h2 {
            margin: 10px 0;
        }
    }
}

.orgjoinrequest {
    .btn-group {
        margin-top: 25px;
    }
}

.underline{
    text-decoration: underline;
}

.my-drop-zone {
    text-align: center;
    border: none;
    box-shadow: none;
    font-size: 4em;
    position: relative;

    .file-upload-hover {
        position: absolute;
        top: 0px;
        left: -1px;
        height: calc(100% - 40px);
        width: calc(100% - 38px);
        margin: 20px;
        background: rgba(0, 0, 0, 0.8);
        color: #FFF;
        padding: 80px;
        border-radius: 2px;
        opacity: 0;
        transition: .25s ease opacity;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        i {
            cursor: pointer;
        }

        .progress-striped {
            position: absolute;
            left: 10%;
            width: 80%;
        }
    }
}

.nv-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    width: 100%;
}

.modal-content {
    .project-item {
        uploaded-image {
            height: 145px;
        }
    }
}

.icons {
    font-size: 20px;
}

.project-item {
    list-style-type: none;
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    min-height: 300px;

    .content {
        padding: 10px;
    }

    img {
        height: 200px;
        width: 100%;
    }

    h2 {
        margin: 5px 0 20px 0;
        font-size: 18px;
    }

    .badge {
        white-space: inherit;
        margin: 1px;
    }
}

tags-input {
    .tags {
        .tag-item {
            background: #EFEFEF;
            border-radius: 1px;
            color: #333;
            padding: 0 8px;


            &.selected {
                background: #ACACAC;
            }
        }
    }

    .host {
        margin: 0;
    }
}

.organization-logo {
    uploaded-image div {
        background-position-x: 0;
    }
}

uploaded-image, [uploaded-image] {
    height: 200px;
    display: block;

    div {
        height: 100%;
        width: 100%;
        background-position: 0;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.project-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    min-height: 100px;
}

.tags-container .tags {
    cursor: default;
    user-select: none;

    .remove-button {
        display: none;
    }

    input {
        display: none;
    }
}

.rating-container {
    text-align: center;
    margin: 50px 0;

    button {

    }
}

.panel-body ul {
    padding: 0;

    li {
        height: 100px;
        list-style-type: none;

        div {
            box-sizing: border-box;
            padding-top: 27.5px;
        }

        img {
            height: 75px;
        }
    }
}

.newsfeed {
    .posting {
        margin: 25px 0;
        padding: 15px;
        background-color: #fff;
        border: 1px solid #E2E2E2;
    }

    .heading h4 {
        margin-left: 10px;
    }

    uploaded-image {
        width: 60px;
        height: 60px;
    }
}

.resource-search-container {
    .resource-item-container {
        .resource {
            position: relative;
        }

        &.open {
            .resource-item {
                top: -200px;
                z-index: 3;

                uploaded-image > div {
                    height: 120px;
                    top: -45px;
                    outline: 1px solid #ddd;
                }
            }

            .details {
                opacity: 1;
            }
        }

        .resource-item {
            position: relative;
            z-index: 1;
            padding-top: 75px;
            min-height: inherit;
            top: 0;
            transition: .2s ease all;

            .content {
                h2 {
                    small {
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }

        .details {
            opacity: 0;
            transition: .2s ease all;
            margin-top: -200px;
        }

        .btn-claim {
            position: absolute;
            bottom: 0;

            .btn {
                width: 100%;
            }
        }

        .progress {
            height: 5px;
            margin-bottom: 0;
        }

        .last {
            margin-bottom: 0;
        }

        uploaded-image {
            height: auto;

            > div {
                height: 70px;
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                z-index: 2;
                transition: .2s ease all;
            }
        }
    }
}

.on-hover {
    opacity: 0;
    transition: .2s ease opacity;
}

.hover-toggle {
    &:hover .on-hover {
        opacity: 1;
    }
}

.modal-apply, .modal-claim {
    h2 {
        @include ellipsis;
    }

    .resource {
        .content {
            p, small {
                display: none;
            }
        }

        &.selected {
            .resource-item {
                box-shadow: 0 0 8px #CCC;
            }
        }
    }

    .project-item {
        &.selected {
            box-shadow: 0 0 8px #CCC;
        }
    }
}

.modal {
    .project-item {
        min-height: inherit;

        h2 {
            a {
                font-size: 14px;
            }
        }
    }
}

.approved {
    position: absolute;
    height: 100px;
    right: 265px;
    top: -140px;
}

.dropdown-toggle {
    border-radius: 0 !important;
}

.dropdown {
    .badge {
        background-color: #C40000;
        top: -1px;
        position: relative;
        left: 12px;
    }
}

.highlight, .highlight td {
    background-color: #FFF37B !important;
}

.error-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;

    .alert {
        border-radius: 0;
        margin: 10px 0;
    }
}

.spacer-left {
    margin-left: 16px;
}

.spacer-left-2 {
    margin-left: 32px;
}

.spacer-left-3 {
    margin-left: 48px;
}

.spacer-left-4 {
    margin-left: 64px;
}

.spacer-left-small {
    margin-left: 8px;
}

.spacer-top {
    margin-top: 16px;
}

.spacer-top-2 {
    margin-top: 32px;
}

.spacer-top-3 {
    margin-top: 48px;
}

.spacer-top-4 {
    margin-top: 64px;
}

.angular-google-map-container { height: 400px; }

h1 {
    font-size: 28px;
    margin-bottom: 50px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.form-search {
    margin-bottom: 50px;
}

.project-details {
    .organization {
        max-width: 200px;
    }

    .project-item {
        min-height: inherit;

        uploaded-image {
            height: 75px;
        }
    }

    .badge {
        margin: 2px;
    }

    .modal-body {
        clear: left;
    }

    .accordion-toggle {
        .ellipsis {
            padding-left: 15px;
        }
    }
}

.ellipsis {
    @include ellipsis;
}

.dynamic-image {
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.postingform {
    textarea {
        height: 33px;
        transition: .25s ease height;
    }

    .btn {
        opacity: 0;
        transition: .25s ease opacity;
        transition-delay: .25s;
    }

    .focused {
        textarea {
            height: 100px;
        }

        .btn {
            opacity: 1;
        }
    }
}
