$icon-font-path: "../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

@import './bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss';
// @import './bootstrap.css';
@import './landing-page.css';

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.btn, .form-control {
    border-radius: 0;
}

[ng-view].well {
    margin-top: 50px;
}

.ribbon-development, .ribbon-test {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-position: center center;
    background-repeat: no-repeat;
}

.ribbon-development {
    background-image: url("../images/development_ribbon.png");
}

.ribbon-test {
    background-image: url("../images/test_ribbon.png");
}

.error {
    color: white;
    background-color: red;
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
    cursor: pointer;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* end Password strength bar style */

/************************
 * Nav
 ************************/
.navbar {
    margin-bottom: 0;
}

/************************
 * Settings
 ************************/
img {
    border-radius: 2px;
}

.profile {
    img {
        width: 100%;
    }
}

.member {
    li {
        padding: 0 5px 7px 5px;
        border: 1px solid #e3e3e3;

        .pull-left {
            padding: 0 10px 10px 0;

            img {
                border-radius: 2px;
                width: 100%;
            }
        }
    }
}

.profile, .account, .member {
    transition: .3s ease opacity;
    opacity: 1;

    &.ng-hide {
        opacity: 0;
    }
}

.organization {
    .organization-item {
        list-style-type: none;
        display: inline-block;
        height: 255px;
        margin: 25px 75px 25px 0;
        padding: 10px;
        background-color: #FFF;
        border: 1px solid #e3e3e3;
        border-radius: 2px;

        uploaded-image {
            display: block;
            width: 200px;
        }

        h2 {
            margin-top: 0;

            a {
                color: #333;
                font-size: 18px;
            }
        }
    }
}

.orgjoinrequest {
    .btn-group {
        margin-top: 25px;
    }
}

.my-drop-zone {
    text-align: center;
    border: none;
    box-shadow: none;
    font-size: 4em;
    position: relative;

    .file-upload-hover {
        position: absolute;
        top: 0px;
        left: -1px;
        height: calc(100% - 40px);
        width: calc(100% - 38px);
        margin: 20px;
        background: rgba(0, 0, 0, 0.8);
        color: #FFF;
        padding: 80px;
        border-radius: 2px;
        opacity: 0;
        transition: .25s ease opacity;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        i {
            cursor: pointer;
        }

        .progress-striped {
            position: absolute;
            left: 10%;
            width: 80%;
        }
    }
}

.nv-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    width: 100%;
}

.modal-content {
    .project-item {
        height: 200px;

        uploaded-image {
            height: 145px;
        }
    }
}

.project-item {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    height: 300px;

    img {
        height: 200px;
        width: 100%;
    }

    h2 {
        margin-top: 0;

        a {
            color: #333;
            font-size: 18px;
        }
    }
}

tags-input {
    .tags {
        .tag-item {
            background: #EFEFEF;
            border-radius: 1px;
            color: #333;
            padding: 0 8px;


            &.selected {
                background: #ACACAC;
            }
        }
    }

    .host {
        margin: 0;
    }
}

.organization-logo {
    uploaded-image div {
        background-position-x: 0;
    }
}

uploaded-image, [uploaded-image] {
    height: 200px;
    display: block;

    div {
        height: 100%;
        width: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.project-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    min-height: 100px;
}

.tags-container .tags {
    cursor: default;
    user-select: none;

    .remove-button {
        display: none;
    }

    input {
        display: none;
    }
}

.rating-container {
    text-align: center;
    margin: 50px 0;

    button {

    }
}

.panel-body ul {
    padding: 0;

    li {
        height: 100px;
        list-style-type: none;

        div {
            box-sizing: border-box;
            padding-top: 27.5px;
        }

        img {
            height: 75px;
        }
    }
}

.newsfeed {
    ul {
        padding: 0;

        li {
            list-style-type: none;
        }
    }
}

.resource-search-container {
    form {
        margin-top: 50px;
    }
}

ul.resources {
    list-style-type: none;
    padding-left: 0;
    margin: 80px 0 50px 0;

    li {
        margin-bottom: 60px;

        img {
            height: 64px;
            width: 64px;
        }

        h2 {
            position: relative;
            margin-top: 0;
            margin-bottom: 0;
        }

        .rating {
            margin-top: 4px;
        }

        .amount {
            font-size: 20px;
        }

        .organization {
            .organization-name {
                font-size: 20px;
                margin-right: 12px;
            }

            i {
                font-size: 12px;
            }
        }
    }
}


.on-hover {
    opacity: 0;
    transition: .2s ease opacity;
}

* {
    &:hover > .on-hover {
        opacity: 1;
    }
}

.modal-apply {
    dl.dl-horizontal {
        dt {
            width: 200px;
            text-align: left;
        }
    }

    li.resource {
        padding: 10px 0;
        margin-bottom: 20px;
    }

    li.resource.selected {
        background: #F2F2F2;
    }
}