$icon-font-path: "../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

@import './bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss';

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.ribbon-development, .ribbon-test {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-position: center center;
    background-repeat: no-repeat;
}

.ribbon-development {
    background-image: url("../images/development_ribbon.png");
}

.ribbon-test {
    background-image: url("../images/test_ribbon.png");
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
    cursor: pointer;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* end Password strength bar style */

/************************
 * Nav
 ************************/

.navbar-nav {
    margin-top: 15px;
}

.navbar-header {
    height: 80px;

    .navbar-brand {
        img {
            height: 50px;
        }
    }
}

/************************
 * Settings
 ************************/
img {
    border-radius: 2px;
}

.profile {
    img {
        width: 100%;
    }
}

.member {
    li {
        padding: 0 5px 7px 5px;
        border: 1px solid #e3e3e3;

        .pull-left {
            padding: 0 10px 10px 0;

            img {
                border-radius: 2px;
                width: 100%;
            }
        }
    }
}

.profile, .account, .member {
    transition: .3s ease opacity;
    opacity: 1;

    &.ng-hide {
        opacity: 0;
    }
}

.organization {
    .organization-item {
        list-style-type: none;
        display: inline-block;
        margin: 25px 75px 25px 0;
        padding: 10px;
        background-color: #FFF;
        border: 1px solid #e3e3e3;
        border-radius: 2px;

        img {
            height: 200px;
            width: 200px;
        }

        h2 {
            margin-top: 0;

            a {
                color: #333;
                font-size: 18px;
            }
        }
    }
}

.orgjoinrequest {
    .btn-group {
        margin-top: 25px;
    }
}