<div class="profile-body first">
    <div class="row row-top">
        <div class="col-md-5 margin-top-20">
            <div class="subheading margin-bottom-30">
                <img class="img-responsive profile-logo margin-bottom-10" logo logo-id="project.organization.logo.id">
                <div class="rating">
                    <a href="">respondeco.org</a>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <span class="rating-counter">13</span>
                </div>
            </div>
        </div>
        <div class="col-md-7 icon-container margin-top-20 text-right">
            <div class="icon">
                <i class="fa fa-users fa-3x"></i>
                <div>17 Unterstützer</div>
            </div>
            <div class="icon">
                <i class="fa fa-calendar fa-3x"></i>
                <div>noch 33 Tage</div>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-xs-12">
            <h2><i class="fa fa-heart"></i>Zeigen Sie Engagement</h2>
            <div class="hero">
                Mit respondeco.org können Sie helfen, damit Projektbetreiber ihre Ideen umsetzen können, in dem Sie Zeit und/oder Güter zur Verfügung stellen. Wenn Sie Fragen haben, können Sie die Projektbetreiber direkt kontaktieren.
            </div>
            <a class="link" href=""><strong>Nehmen Sie Kontakt auf</strong></a>
            <div class="panel panel-profile panel-description">
                <div class="panel-heading overflow-h">
                    <h2 class="panel-title heading-sm pull-left"><i class="icon-bulb"></i> Projektidee</h2>
                </div>
                <div class="panel-body hover-toggle">
                    <div class="col-md-12">
                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                        <p>Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato.</p>
                    </div>
                </div>
            </div>
                        <div class="panel panel-profile panel-description">
                <div class="panel-heading overflow-h">
                    <h2 class="panel-title heading-sm pull-left"><i class="icon-picture"></i> Projektbilder</h2>
                </div>
                <div class="panel-body hover-toggle">
                    <div class="col-md-12">
                        <p>Hier könnten Ihre Projektbilder stehen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="unify/js/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>
