<div class="profile-body">
    <div class="row">
        <h2>Über den Projektverantwortlichen</h2>
        <div class="panel panel-profile">
            <div class="panel-heading overflow-h">
                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-user"></i> Clemens Pühringer</h2>
            </div>
            <div class="panel-body hover-toggle">
                <div class="col-xs-4 col-sm-2 col-md-2 news-logo">
                    <img class="img-responsive img-circle" src="images/team/clemens.jpg" alt="">
                    <div class="md-margin-top-10 text-center">Clemens</div>
                    <div class="md-margin-bottom-20"></div>
                </div>
                <div class="col-md-5">
                    <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                    <div class="button-contact">
                        <button class="btn-u">Nehmen Sie Kontakt auf</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <p>Antwortrate: <strong>100%</strong></p>
                    <p>Antwortzeit: <strong>innerhalb einer Stunde</strong></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <ui-gmap-google-map class="margin-bottom-30" center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>
