<div class="row">
    <div class="col-md-12">
        <div class="panel panel-profile panel-resources">
            <div class="button-support text-center">
                <button class="btn-u btn-block">Jetzt unterstützen</button>
            </div>
            <div class="panel-heading overflow-h">
                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-support"></i> Der Projektbetreiber benötigt:</h2>
            </div>
            <div class="panel-body hover-toggle" editable-textarea="organization.description" e-form="editDescription" e-rows="12" e-cols="50" onaftersave="save()">
                <div class="pull-right on-hover link-style" ng-click="editDescription.$show()" ng-hide="editDescription.$visible">
                    <i class="icon-pencil"></i>
                    <span class="hover-underline">{{'general.edit' | translate}}</span>
                </div>
                {{ organization.description || ('organization.description.placeholder' | translate) }}
            </div>
        </div>
    </div>
</div>
