<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>respondeco</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/textmessages.css">
        <!-- endbuild -->
    </head>

    <body ng-app="respondecoApp" ng-controller="MainController">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="ribbon-development"></div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/respondeco-logo.png" alt="respondeco.org logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="authenticated">
                    <ul class="nav navbar-nav nav-pills">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-home"></span>
                                <span translate="global.menu.home">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/organization">
                                <span class="glyphicon glyphicon-briefcase"></span>
                                <span translate="global.menu.organization">Organization</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/project">
                                <span class="glyphicon glyphicon-leaf"></span>
                                <span translate="global.menu.projects">Projects</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/proposals">
                                <span class="glyphicon glyphicon-flag"></span>
                                <span translate="global.menu.proposals">Proposals</span>
                            </a>
                        </li>
                        <li ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)" class="dropdown pointer">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet" translate="global.menu.entities.main">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu" ng-controller="MenuController">
                                <li ng-switch-when="true"><a href="#/profilepicture"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;profilepicture</a></li>
                                <li ng-switch-when="true"><a href="#/textmessage"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;textmessage</a></li>
                                <li ng-switch-when="true"><a href="#/organization"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;organization</a></li>
                                <li ng-switch-when="true"><a href="#/logo"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;logo</a></li>
                                <li ng-switch-when="true"><a href="#/orgjoinrequest"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;orgjoinrequest</a></li>
                                <li ng-switch-when="true"><a href="#/project"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;project</a></li>
                                <li ng-switch-when="true"><a href="#/propertytag"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;propertytag</a></li>
                                <li ng-switch-when="true"><a href="#/concreteproject"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;concreteproject</a></li>
                                <li ng-switch-when="true"><a href="#/resourceRequirement"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;resourceRequirement</a></li>
                                <li ng-switch-when="true"><a href="#/resourceOffer"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;resourceOffer</a></li>
                                <li ng-switch-when="true"><a href="#/resourceTag"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;resourceTag</a></li>
                                <li ng-switch-when="true"><a href="#/resourceOfferJoinResourceRequirement"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;resourceOfferJoinResourceRequirement</a></li>
                                <li ng-switch-when="true"><a href="#/resourceOfferJoinResourceTag"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;resourceOfferJoinResourceTag</a></li>
                                <li ng-switch-when="true"><a href="#/resourceRequirementJoinResourceTag"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;resourceRequirementJoinResourceTag</a></li>
                                <li ng-switch-when="true"><a href="#/projectlogo"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;projectlogo</a></li>
                                <li ng-switch-when="true"><a href="#/add"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;add</a></li>
                                <!-- JHipster will add entities to the menu here -->
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav nav-pills navbar-right">
                        <li class="dropdown pointer">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" translate="global.menu.account.main">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu" ng-controller="MenuController">
                                <li ng-switch-when="true">
                                    <a href="#/textmessages">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.messages">Messages</span>
                                    </a>
                                </li>
                                <li ng-switch-when="true">
                                    <a href="#/settings">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.settings">Settings</span>
                                    </a>
                                </li>
                                <li ng-switch-when="true">
                                    <a href="#/password">
                                        <span class="glyphicon glyphicon-lock"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.password">Password</span>
                                    </a>
                                </li>
                                <li ng-switch-when="true">
                                    <a href="#/sessions">
                                        <span class="glyphicon glyphicon-cloud"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.sessions">Sessions</span>
                                    </a>
                                </li>
                                <li ng-switch-when="true">
                                    <a href="#/logout">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.logout">Log out</span>
                                    </a>
                                </li>
                                <li ng-switch-when="false">
                                    <a href="#/login">
                                        <span class="glyphicon glyphicon-log-in"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.login">Authenticate</span>
                                    </a>
                                </li>

                                <li ng-switch-when="false">
                                    <a href="#/register">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.register">Register</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li ng-switch-when="true" ng-show="isAuthorized(userRoles.admin)" class="dropdown pointer" ng-controller="AdminController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="global.menu.admin">Admin</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#/metrics">
                                        <span class="glyphicon glyphicon-dashboard"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.metrics">Metrics</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/health">
                                        <span class="glyphicon glyphicon-heart"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.health">Health</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/audits">
                                        <span class="glyphicon glyphicon-bell"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.audits">Audits</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/logs">
                                        <span class="glyphicon glyphicon-tasks"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.logs">Logs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/docs">
                                        <span class="glyphicon glyphicon-book"></span>
                                        &#xA0;
                                        <span translate="global.menu.account.apidocs">API Docs</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown pointer" ng-controller="LanguageController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li active-menu="{{key}}" ng-repeat="(key, language) in languages">
                                    <a href="javascript:;" ng-click="changeLanguage(key)">{{language}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="well" ng-view=""></div>

            <div class="footer">
                <p translate="footer">This is your footer</p>
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->


        <!-- build:js scripts/scripts.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDinamicLocale.js"></script>
        <script src="scripts/http-auth-interceptor.js"></script>
        <script src="scripts/truncate.js"></script>
        <script src="scripts/utils.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/controllers.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/directives.js"></script>
        <script src="scripts/filters.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>
        <script src="scripts/profilepicture/router_profilepicture.js"></script>
        <script src="scripts/profilepicture/controller_profilepicture.js"></script>
        <script src="scripts/profilepicture/service_profilepicture.js"></script>
        <script src="scripts/textmessage/router_textmessage.js"></script>
        <script src="scripts/textmessage/controller_textmessage.js"></script>
        <script src="scripts/textmessage/service_textmessage.js"></script>
        <script src="scripts/organization/router_organization.js"></script>
        <script src="scripts/organization/controller_organization.js"></script>
        <script src="scripts/organization/controller_organizations.js"></script>
        <script src="scripts/organization/controller_organization_edit.js"></script>
        <script src="scripts/organization/service_organization.js"></script>
        <script src="scripts/logo/router_logo.js"></script>
        <script src="scripts/logo/controller_logo.js"></script>
        <script src="scripts/logo/service_logo.js"></script>
        <script src="scripts/orgjoinrequest/router_orgjoinrequest.js"></script>
        <script src="scripts/orgjoinrequest/controller_orgjoinrequest.js"></script>
        <script src="scripts/orgjoinrequest/service_orgjoinrequest.js"></script>
        <script src="scripts/project/router_project.js"></script>
        <script src="scripts/project/controller_project.js"></script>
        <script src="scripts/project/service_project.js"></script>
        <script src="scripts/propertytag/router_propertytag.js"></script>
        <script src="scripts/propertytag/controller_propertytag.js"></script>
        <script src="scripts/propertytag/service_propertytag.js"></script>
        <script src="scripts/resourceRequirement/router_resourceRequirement.js"></script>
        <script src="scripts/resourceRequirement/controller_resourceRequirement.js"></script>
        <script src="scripts/resourceRequirement/service_resourceRequirement.js"></script>
        <script src="scripts/resourceOffer/router_resourceOffer.js"></script>
        <script src="scripts/resourceOffer/controller_resourceOffer.js"></script>
        <script src="scripts/resourceOffer/service_resourceOffer.js"></script>
        <script src="scripts/resourceTag/router_resourceTag.js"></script>
        <script src="scripts/resourceTag/controller_resourceTag.js"></script>
        <script src="scripts/resourceTag/service_resourceTag.js"></script>
        <script src="scripts/resourceOfferJoinResourceRequirement/router_resourceOfferJoinResourceRequirement.js"></script>
        <script src="scripts/resourceOfferJoinResourceRequirement/controller_resourceOfferJoinResourceRequirement.js"></script>
        <script src="scripts/resourceOfferJoinResourceRequirement/service_resourceOfferJoinResourceRequirement.js"></script>
        <script src="scripts/resourceOfferJoinResourceTag/router_resourceOfferJoinResourceTag.js"></script>
        <script src="scripts/resourceOfferJoinResourceTag/controller_resourceOfferJoinResourceTag.js"></script>
        <script src="scripts/resourceOfferJoinResourceTag/service_resourceOfferJoinResourceTag.js"></script>
        <script src="scripts/resourceRequirementJoinResourceTag/router_resourceRequirementJoinResourceTag.js"></script>
        <script src="scripts/resourceRequirementJoinResourceTag/controller_resourceRequirementJoinResourceTag.js"></script>
        <script src="scripts/resourceRequirementJoinResourceTag/service_resourceRequirementJoinResourceTag.js"></script>
        <script src="scripts/projectlogo/router_projectlogo.js"></script>
        <script src="scripts/projectlogo/controller_projectlogo.js"></script>
        <script src="scripts/projectlogo/service_projectlogo.js"></script>
        <script src="scripts/directive_confirm_delete.js"></script>
        <script src="scripts/service_usernames.js"></script>
        <script src="bower_components/ui-bootstrap/src/typeahead/typeahead.js"></script>
        <script src="bower_components/ui-bootstrap/src/position/position.js"></script>
        <script src="bower_components/ui-bootstrap/src/bindHtml/bindHtml.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="scripts/resource/router_resource.js"></script>
        <script src="scripts/resource/controller_resource.js"></script>
        <script src="scripts/resource/service_resource.js"></script>
        <script src="scripts/add/router_add.js"></script>
        <script src="scripts/add/controller_add.js"></script>
        <script src="scripts/add/service_add.js"></script>
        <!-- endbuild -->
    </body>

</html>
