<div class="profile-body first">
    <div class="row margin-bottom-30">
        <div class="col-md-6 profile-logo">
            <div class="col-xs-3 text-center">
                <img class="img-responsive profile-img margin-bottom-10" logo logo-id="organization.logo.id">
            </div>
            <div class="headline hover-toggle margin-bottom-10">
                <div class="pull-right on-hover link-style margin-top-8" ng-click="editName.$show()" ng-hide="editName.$visible">
                    <i class="icon-pencil"></i>
                    <span class="hover-underline">{{'general.edit' | translate}}</span>
                </div>
                <h2>
                    <span editable-text="organization.name" e-form="editName" onaftersave="save()">{{organization.name}}</span>
                </h2>
            </div>
            <div class="subheading margin-bottom-30">
                <span>Wien, Österreich</span>
                <resp-rating organization="organization"></resp-rating>
            </div>
        </div>
        <div class="col-md-6 icon-container text-center">
            <div class="icon" ng-if="organization.verified">
                <span class="fa fa-stack fa-1x5 verified">
                    <i class="fa fa-shield fa-stack-2x"></i>
                    <i class="fa fa-check fa-stack-1x"></i>
                </span>
                <div>Verifiziert</div>
            </div>
            <div class="icon" ng-if="organization.projects.length > 0">
                <i class="fa fa-cubes fa-3x"></i>
                <div>{{ organization.projects.length }} Projekte</div>
            </div>
            <div class="icon" ng-if="organization.donations.length > 0">
                <i class="fa fa-gift fa-3x"></i>
                <div>{{ organization.donations.length }} Spenden</div>
            </div>
            <div class="icon" ng-if="organization.prices.length > 0">
                <i class="fa fa-trophy fa-3x"></i>
                <div>{{ organization.prices.length }} Auszeichnungen</div>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-30">
        <div class="col-md-6 sm-margin-bottom-30">
            <div class="panel panel-profile">
                <div class="panel-heading overflow-h">
                    <h2 class="panel-title heading-sm pull-left"><i class="icon-book-open"></i> Wir sind nachhaltig weil</h2>
                </div>
                <div class="panel-body hover-toggle" editable-textarea="organization.description" e-form="editDescription" e-rows="12" e-cols="50" onaftersave="save()">
                    <div class="pull-right on-hover link-style" ng-click="editDescription.$show()" ng-hide="editDescription.$visible">
                        <i class="icon-pencil"></i>
                        <span class="hover-underline">{{'general.edit' | translate}}</span>
                    </div>
                    {{ organization.description || ('organization.description.placeholder' | translate) }}
                </div>
            </div>
        </div>
    </div>
</div>
