<div class="profile-body">
    <div class="row margin-bottom-30">
        <div class="col-md-6">
            <div class="profile-blog">
                <div class="headline">
                    <h2>{{organization.name}}</h2>
                </div>
                <span><strong>E-Mail:</strong> {{organization.email}}</span>
                <span><strong>Webseite:</strong> http://www.respondeco.org</span>
                <br>
                <a href="#"><i class="rounded-x tw fa fa-twitter"></i> </a>
                <a href="#"><i class="rounded-x fb fa fa-facebook"></i> </a>
                <a href="#"><i class="rounded-x sk fa fa-skype"></i> </a>
                <a href="#"><i class="rounded-x gp fa fa-google-plus"></i> </a>
                <a href="#"><i class="rounded-x gm fa fa-envelope"></i> </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 sm-margin-bottom-30">
            <!--End Social Icons v3-->
            <!--Skills-->
            <div class="panel panel-profile">
                <div class="panel-heading overflow-h">
                    <h2 class="panel-title heading-sm pull-left"><i class="icon-info"></i> Was wir tun</h2>
                </div>
                <div class="panel-body">
                    {{ organization.description }}
                </div>
            </div>
            <!--End Skills-->
        </div>
        <div class="col-md-6">
            <div class="panel panel-profile">
                <div class="panel-heading overflow-h">
                    <h2 class="panel-title heading-sm pull-left"><i class="icon-book-open"></i> Handlungsfelder</h2>
                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <div class="panel-body">
                    <p><strong>Konsumentenanliegen</strong>: Schutz und Vertraulichkeit von Kundendaten</p>
                    <p class="text-italic">
                        Wir verkaufen weder uns noch Daten. Wir sind ein IT- Unternehmen, das keine Kundendaten verkauft
                    </p>
                    <hr>
                    <p><strong>Arbeitspraktiken</strong>: Beschäftigung und Beschäftigungsverhältnisse</p>
                    <p class="text-italic">
                        Wir wollen unsere Beschäftigungsverhältnisse fair und  flexibel gestalten
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
