<div class="profile-body">
    <h2>Kontaktieren</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.</p>
    <br />
    <form action="assets/php/sky-forms-pro/demo-contacts-process.php" method="post" class="contact-style margin-bottom-40">
        <fieldset class="no-padding">
            <label>Name <span class="color-red">*</span></label>
            <div class="row margin-bottom-20">
                <div class="col-md-7 col-md-offset-0">
                    <div>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                </div>
            </div>
            <label>Email <span class="color-red">*</span></label>
            <div class="row margin-bottom-20">
                <div class="col-md-7 col-md-offset-0">
                    <div>
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                </div>
            </div>
            <label>Message <span class="color-red">*</span></label>
            <div class="row margin-bottom-20">
                <div class="col-md-11 col-md-offset-0">
                    <div>
                        <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <p>
                <button type="submit" class="btn-u">Nachricht senden</button>
            </p>
        </fieldset>
        <div class="message hidden">
            <i class="rounded-x fa fa-check"></i>
            <p>Erfolgreich versendet!</p>
        </div>
    </form>
    <h2>Standort</h2>
    <ui-gmap-google-map class="margin-bottom-30" center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>
