<div class="profile-body">
    <h2><i class="fa fa-comments"></i> Neuigkeiten</h2>
    <ul class="timeline-v2">
        <li ng-repeat="posting in organization.postingFeed.postings">
            <time class="cbp_tmtime" datetime=""><span>{{ posting.createdDate | date }}</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>{{ posting.title }}</h2>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ posting.information }}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="timeline-v2">
        <li>
            <time class="cbp_tmtime" datetime=""><span>4/1/08</span> <span>January</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>Our first step</h2>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2 news-logo">
                        <img class="img-responsive" src="images/team/klaus.jpg" alt="">
                        <div class="md-margin-top-10 text-center">Klaus</div>
                        <div class="md-margin-bottom-20"></div>
                    </div>
                    <div class="col-md-10">
                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                        <p>Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato.</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime=""><span>4/1/08</span> <span>January</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>Our first step</h2>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2 news-logo">
                        <img class="img-responsive" src="images/team/roland.jpg" alt="">
                        <div class="md-margin-top-10 text-center">Roland</div>
                        <div class="md-margin-bottom-20"></div>
                    </div>
                    <div class="col-md-10">
                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                        <p>Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato.</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime=""><span>4/1/08</span> <span>January</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>Our first step</h2>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2 news-logo">
                        <img class="img-responsive" src="images/team/clemens.jpg" alt="">
                        <div class="md-margin-top-10 text-center">Clemens</div>
                        <div class="md-margin-bottom-20"></div>
                    </div>
                    <div class="col-md-10">
                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                        <p>Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato.</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime=""><span>4/1/08</span> <span>January</span></time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>Our first step</h2>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2 news-logo">
                        <img class="img-responsive" src="images/team/jan.jpg" alt="">
                        <div class="md-margin-top-10 text-center">Jan</div>
                        <div class="md-margin-bottom-20"></div>
                    </div>
                    <div class="col-md-10">
                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                        <p>Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato.</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
