<div class="profile-body">
    <!-- Clients Block-->
    <div class="row clients-page">
        <div class="col-md-2">
            <img src="images/clients2/baderbrau.png" class="img-responsive hover-effect" alt="">
        </div>
        <div class="col-md-10">
            <h3>Cisco Systems, Inc</h3>
            <ul class="list-inline">
                <li><i class="fa fa-map-marker color-green"></i> USA</li>
                <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
                <li><i class="fa fa-briefcase color-green"></i> Web Design &amp; Development</li>
            </ul>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
            <p>Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
        </div>
    </div>
    <!-- End Clients Block-->
    <!-- Clients Block-->
    <div class="row clients-page">
        <div class="col-md-2">
            <img src="images/clients2/bellfield.png" class="img-responsive hover-effect" alt="">
        </div>
        <div class="col-md-10">
            <h3>Natural Green</h3>
            <ul class="list-inline">
                <li><i class="fa fa-map-marker color-green"></i> Canada</li>
                <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
                <li><i class="fa fa-briefcase color-green"></i> Logo Design &amp; Wordpress</li>
            </ul>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
        </div>
    </div>
    <!-- End Clients Block-->
    <!-- Clients Block-->
    <div class="row clients-page">
        <div class="col-md-2">
            <img src="images/clients2/emirates.png" class="img-responsive hover-effect" alt="">
        </div>
        <div class="col-md-10">
            <h3>The Coca-Cola Company</h3>
            <ul class="list-inline">
                <li><i class="fa fa-map-marker color-green"></i> USA</li>
                <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
                <li><i class="fa fa-briefcase color-green"></i> Web Design &amp; Development</li>
            </ul>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
            <p>Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
        </div>
    </div>
    <!-- End Clients Block-->
    <!-- Clients Block-->
    <div class="row clients-page">
        <div class="col-md-2">
            <img src="images/clients2/inspiring.png" class="img-responsive hover-effect" alt="">
        </div>
        <div class="col-md-10">
            <h3>Game Cast TV</h3>
            <ul class="list-inline">
                <li><i class="fa fa-map-marker color-green"></i> Europe</li>
                <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
                <li><i class="fa fa-briefcase color-green"></i> Web Design &amp; HTML/CSS</li>
            </ul>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
        </div>
    </div>
    <!-- End Clients Block-->
</div>
