<div class="profile-body">
    <div class="col-md-6">
        <h2>Engagement</h2>
    </div>
    <div class="col-md-6">
        <div class="service-block-v3 service-block-u">
            <i class="icon-badge"></i>
            <span class="service-heading">Auszeichnungen</span>
            <span class="counter">8</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" ng-repeat="project in organization.projects">
            <div class="easy-block-v1">
                <img class="img-responsive" logo logo-id="project.projectLogo.id" alt="">
                <div class="easy-block-v1-badge rgba-red">ISO-Kategorie</div>
            </div>
            <div class="projects">
                <h2><a class="color-dark" href="#">{{ project.name }}</a></h2>
            </div>
        </div>
    </div>
</div>
