
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/stylesheets/admin.63df77eb65ef8e533e38c6c1cbac7257.css" />

        <title>Gentallela Alela! | </title>
    </head>

    <body>
        <div id="app">
            <router-view></router-view>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="/assets/javascripts/manifest.085608cf0e6e366dc133.js"></script>
        <script src="/assets/javascripts/vendor.83668eefaaa5b0a973b5.js"></script>
        <script src="/assets/javascripts/admin.1bf78fc16d90aeeb50f8.js"></script>

        <script src="/assets/admin.js"></script>
    </body>
</html>
