
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gentallela Alela! | </title>

        <script>
            window.respondeco = "dev";
        </script>
    </head>

    <body>
        <div id="app">
            <router-view></router-view>
        </div>

        <script src="/assets/common.js"></script>
        <script src="/assets/vendor_admin.js"></script>
        <script src="/assets/admin.js"></script>
    </body>
</html>
