<!DOCTYPE html>

<html lang="en">
    <head>
        <title>respondeco.org</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/app.f9b1bd395545762968ccad943b6ca97c.css")">
    </head>
    <body class="header-fixed header-fixed-space">
        <div id="app">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>

        <script src="@routes.Assets.versioned("javascripts/manifest.028515874ea2d9a539ed.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor.b68b4b9e67b20a73e313.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/app.0de1d1065a8dbfcba2ab.js")"></script>
        <script src="/assets/app.js"></script>
    </body>
</html>
