<!DOCTYPE html>

<html lang="en" data-outer-spaces>
    <head>
        <title>respondeco.org</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>
    <body data-layout-styles="" data-custom-bg="">
        <div id="app">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>

        <script src="/assets/vendor.js"></script>
        <script src="/assets/app.js"></script>
    </body>
</html>
